[2013-07-29 13:40] Floppy opened #49 "Template manipulation by admins"
Is there a way in which administrators can be able to quickly edit template layout?

[2013-08-09 12:40] Floppy opened #63 "Generalise asset management"
* [ ] Allow upload of content not related to a particular content item
* [ ] Allow selection of previously uploaded assets when setting up a content item.
* [ ] Allow arbitrary embedding of previously uploaded assets

[2014-01-27 12:03] pikesley opened #138 "Implement Lunch Roulette"
https://github.com/fredbenenson/lunch-roulette

[2014-05-06 12:40] JeniT opened #217 "Improve the Code Climate score for ODCs"
Get everything to C or above.

[2014-06-09 09:55] pezholio opened #239 "Accept direct debit payment during member signup"
Using GoCardless

[2014-07-08 14:15] sumikasan opened #276 "Open Data Certificate - remove 'beta' label from the website"

[2014-07-14 12:50] sumikasan opened #282 "Localisation of Open Data Certificate - additional licenses options for Italian jurisdiction"
Need to update the Italian version of the questionnaire so it includes two more open data licenses. The schema of the italian open data licences are:

1) IODL 2.0 (Italian Open Data Lincence ver 2.0)
http://www.dati.gov.it/iodl/2.0/
This is an attribution licence

2) IODL 1.0 (Italian Open Data Licence  ver 1.0)
http://www.formez.it/iodl/
This is a share alike licence with an explicit compatibilit

[2014-07-17 15:29] sumikasan opened #288 "Change to the https://certificates.theodi.org/about page"
- [ ] Change the button so it's blue: 'See what you will be asked'
- [ ] Change the button so it's blue: 'See an example of certificate'
- [ ] Add GA codes to the buttons
- [ ] Change the link destination for the example certificate to one that's not 'expired'

[2014-07-31 10:19] pikesley opened #303 "Something about Node DNS"
Hi

North Carolina are (finally) going to repoint their DNS to us for

http://www.theodinc.org/

We need to set up a redirect to
http://theodi.org/nodes/north-carolina

I think this is the best of the available options.

Sam – need you to confirm/work out process/etc before Kathryn connects you with them for details.

They are going to keep their email addresses. I don't have a particular issue wi

[2014-08-18 13:29] pezholio opened #335 "Gem for ALL THE BADGES"
We have a lot of badges now, I think we should be able to generalise this into a Rails engine for all the badges

[2014-09-08 17:12] sumikasan opened #350 "Capturing additional information about the new user"
https://github.com/theodi/open-data-certificate/issues/865

[2014-09-08 17:15] sumikasan opened #352 "Update edit your profile page"
https://github.com/theodi/open-data-certificate/issues/872

Also see
https://github.com/theodi/open-data-certificate/issues/871

[2014-09-19 14:49] sumikasan opened #371 "Documentation URL question doesn't respect language / jurisdiction #854"
https://github.com/theodi/open-data-certificate/issues/854

[2014-09-25 13:46] Floppy opened #382 "Configure security updates in chef recipes"
We need our cloud servers to be applying security updates, really, otherwise we're going to get caught out.

[2014-11-06 09:01] giacecco opened #436 "Prepare for full Alpha website go live (24/11)"
To take place between 20-21/11, this is the final prep for the full website to go live on Monday 24/11.

# Checklist for go-live
(items marked with **NB** are non-blocking)

## Website
* [x] #439
* [x] OpenAddressesUK/theodolite#13
* [x] OpenAddressesUK/theodolite#14
* [x] OpenAddressesUK/theodolite#15

## Contents
- [x] @giacecco's completion of #442, #443
- [ ] **NB** @giacecco and @peterkwells

[2014-11-10 09:55] giacecco opened #442 "Write Alpha documentation"
Finalise the publishing in GitHub of all software developed for Alpha and state appropriate licence (CC-BY 4.0 wherever consistent with software libraries being used etc.).

Document all software, published APIs and data models / formats and the end-to-end workflow producing the Open Addresses database to a degree suitable for being audited by a third party. The prerogative of publishing our addre

[2014-11-10 14:24] JeniT opened #448 "Pull in csvlint requests"
* [x] https://github.com/theodi/csvlint.rb/pull/104
* [x] https://github.com/theodi/csvlint.rb/pull/103
* [x] https://github.com/theodi/csvlint.rb/pull/101
* [ ] https://github.com/theodi/csvlint/pull/175

[2014-11-14 14:04] JeniT opened #455 "Support Individual tier of membership in membership directory & surrounding systems"
See https://github.com/theodi/member-directory/issues/306; this issue may require expansion.

Discuss with @greenreveller for details.

[2014-11-21 12:50] davetaz opened #459 "Fix broken navigation on theodi.org"
People are really struggling to find courses on our website. This might be one of the reasons why.

https://github.com/theodi/odi-chef/pull/16

[2014-11-24 14:32] Floppy opened #463 "Move CSVlint file storage out of MongoDB"
CSVlint filled its database, and stopped working. I’ve added another shard, but that’s only a temporary solution, and I’m not sure of the cost impact if we leave it too long. We need to spend a little time making it more space and cost-efficient. We know what needs doing (moving storage to block store instead of MongoDB), but we need to spend the time to do it before too long.

[2014-11-24 14:56] Floppy opened #464 "Update dashboard currency conversion rate"
See https://github.com/theodi/dashboards/issues/193

[2014-12-03 10:57] Floppy opened #473 "Update invoicer for new accounting rules"
See https://github.com/theodi/open-orgn-services/issues/403 for details. @alisonwalters to provide details on Monday 8th.

[2014-12-16 09:51] Floppy opened #477 "Merge membership pricing changes"
Merge on the 6th January.

* [x] https://github.com/theodi/member-directory/pull/335
* [x] https://github.com/theodi/open-orgn-services/pull/407

[2014-12-19 10:12] Floppy opened #478 "Enable cloudflare for theodi.org"

[2014-12-19 10:13] Floppy opened #479 "Disable all internal quirkafleeg caching"
Need to check:
* [ ] content-api; disable rack-cache
* [x] frontend-www; [disable GDS API cache](https://github.com/theodi/frontend-www/blob/43b59676e231ee1ee044dbf57623d72f29252c15/config/initializers/gds_api.rb)

[2015-01-05 09:15] #436 closed

[2015-01-05 09:15] #448 closed

[2015-01-05 09:33] #442 closed

[2015-01-05 10:48] Floppy commented on #478
Should be working now. Just waiting for it to propagate to the office, then we can be sure.

[2015-01-05 11:37] giacecco opened #481 "Add HTTPS to theodolite"
Does what it says on the tin.

Interactive visitors who attempt using the http version should be redirected to the https version. This applies also to deep linking (apache rewrite-style).

The APIs should not be redirected (for some reason one could want to use the http version).

[2015-01-05 11:48] giacecco opened #482 "Run trial of Turbot as ETL hosting platform"
This includes:
- [x] learning and attempting setup on our own, by Weds 7/1
- [x] the hands-on session with Seb Bacon on Thu 8/1, 10:30 - 13:00, for anything we did not understand or is not documented
- [ ] some trial implementation, perhaps even porting the Companies House ETL to Turbot, by Mon 12/1
- [x] on Tue 13/1, with @JeniT, we decide if investing in Turbot is the wise thing to do

[2015-01-05 11:49] giacecco opened #483 "Design how to update 'raw' OA data model and database implementation to be fully "time aware""

[2015-01-05 11:58] giacecco opened #484 "Plan support for API versioning"
We won't have separate infrastructure for Alpha and Beta. We can afford disrupt our users when we make changes, but at the same time we can be smart about it.

One way of achieving that is keeping older versions of our APIs available for some time after they're superseded by a more recent one.

I would like the team to evaluate the complexity of implementing this 'organically' on theodolite. If th

[2015-01-05 11:59] Floppy commented on #484
Recommend using content type to do this properly, not paths.

[2015-01-05 12:09] giacecco opened #485 "Alpha code review"
Before actual Beta dev starts, let's survey all:
- software developed, and
- third party services supporting operations (e.g. Heroku, AWS, Redis2Go, Papertrail...)

deployed for Alpha to understand what we are comfortable to keep and what needs changing before moving forward.

One way to do that could be splitting the work in two parts:
- [ ] @floppy or @pezholio spend some quality time reviewing

[2015-01-05 12:10] giacecco opened #486 "Alpha infrastucture review"
Before actual Beta dev starts, let's survey all systems deployed for Alpha to understand what we are comfortable to keep and what needs changing before moving forward.

One way to do that could be splitting the work in two parts:
- [ ] @pikesley spends some quality time reviewing the Alpha work and makes a list of weaknesses and/or potential improvements
- [ ] we decide together what is worth doin

[2015-01-05 13:01] giacecco opened #487 "Setup automated, 'unmanned' distillation"
Setup anything is necessary to distill the OA dataset automatically periodically, e.g. every night.

[2015-01-05 13:06] giacecco opened #488 "Setup analytics for OA downloadable editions"
**In time by the official Alpha launch on 14/1**, develop the Google Analytics setup to include good visibility of the number of users attempting the download of the .torrent files.

Design the solution so that is aggregates the analytics of the same .torrent across different editions (e.g. different dates in the filename of the same version).

Find a way so that the main performance indeces (e.g.

[2015-01-05 13:11] giacecco opened #489 "Setup analytics for OA publication API"
As for https://github.com/theodi/shared/issues/488, **in time by the official Alpha launch on 14/1**, but for OA's publication APIs.

[2015-01-05 13:39] giacecco opened #490 "Build and deploy the "free-text addresses ETL""
- [ ] Re-write as a re-usable software component the algorithm that is currently part of the Corporates House ETL that interprets free-text addresses.
- [ ] Make it available internally to OA...
- [ ] ... **and** externally as an API, e.g. to be used by the upcoming [pure JavaScript ETL](https://docs.google.com/a/openaddress.es/spreadsheets/d/1grVK-aNcSQrwNjSH-eBj1sD4_6YLo8Bt7JRhZqpLm_M/edit?usp=s

[2015-01-05 14:48] Floppy commented on #481
Probably do this with Cloudflare, otherwise:

* [ ] buy certificate
* [ ] apply to Heroku

[2015-01-05 14:54] Floppy commented on #483
Design first, then discuss implementation.

[2015-01-05 14:54] Floppy commented on #483
Consider also how to handle negative information points, like "I know this address does *not* exist"

[2015-01-05 15:03] pezholio commented on #489
[This](https://github.com/hybridgroup/gabba) might be A Thing

[2015-01-05 15:14] Floppy opened #491 "Write contribution guide for Open Addresses"
Writing document initially in https://docs.google.com/a/theodi.org/document/d/18KgCc34tS6I3tBJEc4WduFEU6l65u0LdBgT2PsqJybM/edit#

[2015-01-06 11:06] pikesley commented on #481
Cloudflare will work magically if we're using
* www.openaddressesuk.org
* openaddressesuk.org

If we're sticking with _alpha._ then we need to pay Cloudflare, or buy a certificate and put it on Heroku.
Opinions?

[2015-01-06 11:10] peterkwells commented on #489
Some sequenced (highest priority first) thoughts. All idealised thoughts with tech/phase reality/capacity able to intervene and shift things to Beta.

1. All performance data should be open data available in both machine and human-readable formats

2. When publishing stats our users will want URI/website search/bittorrent/API usage to be correlated  *at each subset*. As a simple parallel see paper

[2015-01-06 11:10] peterkwells commented on #488
Comments on #489

[2015-01-06 11:19] pikesley commented on #481
I think we should buy a cert, FWIW

[2015-01-06 11:19] Floppy commented on #481
probably best.

[2015-01-06 11:20] Floppy commented on #481
We're not changing domain yet, so let's do that. Then it's registered to the right company etc.

[2015-01-06 12:58] pikesley commented on #481
I have spoken to Peter about this, we will get it sorted

[2015-01-06 13:59] pezholio commented on #489
This will all be achievable (from what I understand), but my understanding is that for this task we're only going to be adding analytics to Google Analytics for the API views. Releasing the data openly and adding dashboards etc, will be a separate piece of work

[2015-01-06 14:29] giacecco commented on #489
The natural thing is to go in order of priority. From now to the official lunch on Tues next week the most we can afford is just what is described in the original task, otherwise Peter risks not having even that.

All other features described by Peter will compete for time and budget vs everything else during Beta, I'm meeting him tomorrow for him to give us prioritisation of the larger tech deliv

[2015-01-06 18:35] giacecco opened #492 "Transfer Bugherd from OpenAddressesUK/theodolite to OpenAddressesUK/forum"
I got @peterkwells' ok: please reconfigure Bugherd so that new feedback becomes posts in OpenAddressesUK/forum rather than OpenAddressesUK/theodolite . It looks like a trivial change to do but I am afraid I may be missing something.

How easy it is to pre-tag new feedback as "general discussion" and perhaps also "new" so that Peter and I can spot new content straight away and if necessary re-assig

[2015-01-07 09:35] Floppy opened #493 "Fix lunchtime lectures page"

[2015-01-07 09:58] pikesley commented on #481
![screenshot 2015-01-07 09 56 41](https://cloud.githubusercontent.com/assets/885973/5643725/b94c541c-9653-11e4-91d2-a37fe53afbdd.png)

[2015-01-07 12:34] pezholio commented on #489
I've tested this on a test GA account and confirmed it to be working. @peterkwells - I think you might need to change the main domain to the alpha domain for it to work on the proper OA Analytics account.

[2015-01-07 12:49] pezholio commented on #492
I've done the transfer, unfortunately, none of the issues that are currently open in theodolite will be automatically closed when they get closed in Bugherd, but there's not loads, so that should be OK.

Bugherd's integration doesn't let you specify tags unfortunately, but you should be able to turn on email notifications for the /forum repo pretty easily, so you'll be able to keep track that way.

[2015-01-07 14:04] giacecco commented on #489
@peterkwells leave this to me

[2015-01-07 20:54] JeniT opened #494 "ODI site has mixed content"
When you connect to the ODI site via Chrome it doesn't give a nice green lock symbol but issues warnings because it uses resources that are accessed via HTTP (look at the console). These seem to be the resources on rackcdn. Can we switch to using HTTPS access to those resources?

[2015-01-08 07:08] giacecco commented on #481
@pikesley don't forget to assign me the task when you hand the ball over to me, I did not realised you had gave me instructions! It's done:

[code]

[2015-01-08 10:46] Floppy opened #495 "Add lead generation code to websites"
Should be added to:
* [ ] homepage
* [ ] membership pages
* [ ] training pages
* [ ] about page

Code provided by Patrik - ask @floppy for the code, as I assume things like IDs are confidential.

[2015-01-08 10:50] giacecco opened #496 "OA launch website changes due 14/9"
@peterkwells is working to setup what is described below for launch on Weds. He sounds autonomous but may need @floppy or @pezholio's help, most likely today on Monday 12/1. The description of the tasks is his.

**Do not take action but on his request** please.

- [ ] Branch: create a separate branch with the below which we can merge/publish on Tuesday evening. All press content is embargoed until

[2015-01-08 11:19] giacecco commented on #489
@pezholio I realise now that we were talking about the *API* analytics. On Monday you seemed doubtful we could use GA for the API. Did you find a way to make that work and can you tell me more and/or show me where to see the reports?

In the meantime I've configured GA to consider all these four domains as part of the same property:
http://openaddressesuk.org
https://openaddressesuk.org
http://alp

[2015-01-08 11:21] giacecco commented on #488
About the need of updating the GA scriptlet, this is what the GA portal tells us we should use:

[code]

This is what the GEM produces now:

[code]

The only difference is the ```auto``` @pezholio already knew about. Can you please confirm this does not need action, too? Thanks.

[2015-01-08 12:12] giacecco commented on #492
@peterkwells I moved to https://github.com/OpenAddressesUK/forum/issues all feedback items that were created before the move. Now we just need to monitor the new place.

[2015-01-08 13:48] #478 closed

[2015-01-08 13:48] #493 closed

[2015-01-08 13:48] #492 closed

[2015-01-08 14:46] #495 closed

[2015-01-09 08:17] pezholio commented on #490
For information, here's @jenit's work that I was talking about:

https://github.com/theodi/parse-uk-addresses

We could use a combination of this and the [work we've already done in distiller](https://github.com/OpenAddressesUK/distiller/blob/master/lib/distil.rb) to create a gem, which we can then expose using a web service.

[2015-01-09 08:41] JeniT commented on #490
Just to note that I've heard criticism of that work and it might be worth discussing with experts rather than adopting it (or not - the criticism wasn't concrete iirc).

[2015-01-09 15:59] Floppy commented on #459
@pikesley I did this with cloudflare, because doing it with nginx is a royal pain. However, that's non-standard procedure, so I dunno what you want to do long term.

[2015-01-09 15:59] #459 closed

[2015-01-09 16:15] giacecco commented on #481
How is it going @pikesley ?

[2015-01-09 16:23] Floppy commented on #491
https://github.com/tessel/contribution-guide is an interesting reference.

[2015-01-09 17:01] Floppy commented on #491
@pikesley @pezholio can you take a quick read through the doc linked at the top here? What did I miss?

[2015-01-12 09:22] Floppy commented on #491
@giacecco you may also want to comment on this.

[2015-01-12 09:43] pezholio commented on #491
To be clear, is this a contribution guide for the main project, or the ELTs? This seems to lean more towards contributing to the core project, or am I wrong?

[2015-01-12 09:44] Floppy commented on #491
For the moment, this is generic to all code. I imagine we'd add more detailed guidance for specific projects as we go on (like how to write a scraper, etc)

[2015-01-12 11:46] Floppy commented on #491
@giacecco @peterkwells where would you like this to live? Could go on the forum wiki, the main theodolite site, or we could create a jekyll developers site.

[2015-01-12 12:30] Floppy commented on #473
@alisonwalters we have some time in this sprint for this work, but we're already a week in, so it would be good to know if it's likely to be doable this week. Any idea where we are on it? Do you know what you need us to do yet?

[2015-01-12 13:08] Floppy commented on #479
So, frontend's cache is already disabled, as that file is never overwritten. That explains why it always hits content api.

[2015-01-12 14:29] #479 closed

[2015-01-12 15:12] peterkwells commented on #491
One for @giacecco but maybe a sticky in the text on the developer's forum? https://github.com/OpenAddressesUK/forum

[2015-01-12 17:31] #455 closed

[2015-01-12 17:32] #477 closed

[2015-01-13 08:32] pezholio commented on #490
I've done a skeleton app here:

https://github.com/OpenAddressesUK/sorting_office

The hardest part of this is going to be extracting address parts from bare strings. Getting postcodes is easy (just a regex) and posttowns are pretty simple too (there are only a limited number), but localities and streets may be a little trickier. I can't see anything in the Companies House ETL that extracts addres

[2015-01-13 10:49] Floppy commented on #490
Presumably https://github.com/OpenAddressesUK/common-ETL/blob/master/address_lines.py is the relevant code in common-ETL. Looks like it's matching against the database of posttowns, OS locator, etc.

[2015-01-13 14:24] pezholio commented on #482
Right, so we have successfully set Turbot up, and have run a trial of a simple bot running from end to end. I'm going to email Seb now, and see if they're OK with us forking the Turbot server and hosting it publicly, and then the next step is bending Turbot client, Turbot server and Morph to our will, but I guess this will be for the next sprint.

[2015-01-13 14:27] Floppy commented on #490
Do we actually want to port this to Ruby, or shall we implement a wrapper in Python? What would porting give us, apart from being in a language we know better? If we port, then we won't be able to get updates from @MurrayData...

[2015-01-13 14:34] pezholio commented on #490
One of the advantages would be that we can plug in the Mongoid models we have already and (assuming we're connected to the same database) return the URI of each address part too, which would be really useful. Also, it would be easier for us to maintain long term.

[2015-01-13 14:35] Floppy commented on #490
Yeah, that's true. I wonder what @giacecco thinks.

[2015-01-13 15:58] pezholio commented on #485
I've had a look through the main parts of the project, and raised issues where we need to reinvestigate, or change what we currently do. These are:

## Distiller

* https://github.com/OpenAddressesUK/distiller/issues/9
* https://github.com/OpenAddressesUK/distiller/issues/8
* https://github.com/OpenAddressesUK/distiller/issues/7
* https://github.com/OpenAddressesUK/distiller/issues/6

## Ernest

*

[2015-01-13 16:10] pezholio commented on #485
We also need to reinvestigate how we're hosting the Ernest DB. At the moment, we have it hosted in AWS, as the cloud solution we had wasn't sufficient. Do we want to keep this as is for now?

[2015-01-13 16:11] pezholio commented on #485
Also, not sure why we have NewRelic on Ernest?

[2015-01-13 16:12] pezholio commented on #485
We can also probably delete the ClearDB MySQL cloud subscription, as it's costing us $49.99, and we're not doing anything with it

[2015-01-14 09:44] Floppy commented on #490
have pinged @murraydata to see if he has any test data: https://github.com/OpenAddressesUK/common-ETL/issues/10

[2015-01-14 10:21] #482 closed

[2015-01-14 10:21] #489 closed

[2015-01-14 10:21] #488 closed

[2015-01-14 10:59] giacecco commented on #488
For @JeniT and @peterkwells: the consolidated analytics across different editions can be read by going to https://www.google.com/analytics/web/?hl=en#report/content-pages/a55858108w89135809p96063036/ and filtering by regular expressions such as ```^/torrent\?file=\d{4}-\d{2}-\d{2}-openaddressesuk-full.json.zip.torrent$``` for the full, non-split, JSON version. I am checking with @pezholio if we ca

[2015-01-14 11:02] pezholio commented on #483
Can anyone remind me what we mean by 'time aware'?

[2015-01-14 11:09] giacecco commented on #483
Information coming from ETLs is associated to a period of time within which the address is known to exist. E.g. Companies House's addresses are associated to some event in the life of a company, e.g. its incorporation date or the date when the list of directors changed. We need to prepare storing this information, as it will feed into the calculation of statistical confidence.

[2015-01-14 11:09] pezholio commented on #483
Ah, yes. I remember now. Maybe something we can discuss tomorrow when we're all in?

[2015-01-14 11:14] giacecco commented on #483
I believe there is not much to say actually. When ETLs call the ingestion API they should simply specify a set of validity periods, e.g.

[code]

[2015-01-14 11:21] pezholio commented on #487
OK, so this can be done pretty easily I think. Here's what I think we need to do:

- [ ] Adjust Ernest to allow 'last updated since' searches (as per https://github.com/OpenAddressesUK/ernest/issues/20)
- [ ] Tweak distiller to make the 'last updated since' requests to Ernest
- [ ] Set up distiller to run on a daily basis using Heroku scheduler

One thing we will need to work around is Heroku's li

[2015-01-14 13:01] giacecco opened #497 "Submission guidelines link doesn't work on mobile"
See https://github.com/OpenAddressesUK/forum/issues/17 . Feel free to comment and close issue there when fixed.

[2015-01-14 14:00] Floppy commented on #490
Rough translation of the relevant parts of https://github.com/OpenAddressesUK/common-ETL/blob/master/CH_Bulk_Extractor.py: https://gist.github.com/Floppy/ac87f1e53142cea445a1

[2015-01-15 06:48] pezholio commented on #497
Fixed by https://github.com/OpenAddressesUK/theodolite/pull/63

[2015-01-15 09:46] pezholio commented on #491
This seems good to me :+1:

[2015-01-15 09:50] pezholio commented on #487
I've done all this, and made the changes in the app on Heroku. Distil will now run every day at 2:00 UTC. It won't (yet) do anything, as we don't have any addresses added to Ernest, but the pipework is laid...

[2015-01-15 10:54] pezholio commented on #484
I guess this is all about what we mean by API changes. The API itself is very simple at the moment, and probably not likely to change massively in the future (maybe we'll add features), but the operations we have at the moment, such as searching or viewing addresses are unlikely to change (we may add things though)

What is very likely to change though are the identifiers for addresses. Are we tal

[2015-01-15 11:19] #497 closed

[2015-01-19 11:10] pikesley commented on #481
This is applied and working, do we want to *force* SSL?

https://alpha.openaddressesuk.org/

[2015-01-19 11:11] JeniT commented on #481
I don't see any harm in doing so?

[2015-01-19 11:42] pikesley commented on #481
OK, I think this is an app thing: http://readysteadycode.com/howto-setup-ssl-with-rails-and-heroku

@pezholio how do you feel about this?

[2015-01-19 11:43] pezholio commented on #481
I'm cool wid dat :+1:

[2015-01-19 13:28] pikesley commented on #486
#Open Addresses Alpha Infrastructure

##Core components

###Ernest

* Sinatra app
* Single Heroku node
* MariaDB-as-a-Service

###Distiller

* Rake task
* Mongo-as-a-Service

###Theodolite

* Rails app
* Single(?) Heroku node
* Mongo-as-a-Service

###Hiphopapotamus

* Rake task
* Mongo-as-a-Service
* S3
* Torrents

###Indigester

* Quick-and-Dirty ETL
* Single S3 node
* Very disposable

##Also

##

[2015-01-19 14:04] #486 closed

[2015-01-19 14:04] #485 closed

[2015-01-19 14:05] #491 closed

[2015-01-19 14:05] #487 closed

[2015-01-19 14:05] #496 closed

[2015-01-19 14:12] Floppy opened #498 "Demo site for address splitter"
For OpenAddressesUK/roadmap#15

[2015-01-19 14:14] Floppy opened #499 "Gitlab server setup"
Or could it be done with GitHub?

For OpenAddressesUK/roadmap#56

[2015-01-19 14:14] Floppy opened #500 "Turbot server setup"
For OpenAddressesUK/roadmap#56

[2015-01-19 14:14] Floppy opened #501 "Morph server setup"
Something something tutum.co

For OpenAddressesUK/roadmap#56

[2015-01-19 14:24] Floppy opened #502 "Add inference to distillation process"
For OpenAddressesUK/roadmap#29

[2015-01-19 14:34] Floppy opened #503 "Add confidence scoring to distillation process"
Let database model confidence, and let ETLs submit confidence through the API. This is our understanding of what we need to do for OpenAddressesUK/roadmap#27

[2015-01-19 14:39] Floppy opened #504 "Add inference to distillation process"
For OpenAddressesUK/roadmap#32. Will need to queue up based on ETL events.

[2015-01-19 14:55] Floppy opened #505 "Javascript address submission"
For OpenAddressesUK/roadmap#16 and OpenAddressesUK/roadmap#17

[2015-01-19 14:56] Floppy opened #506 "Single-address ETL bot (Turbot)"
For OpenAddressesUK/roadmap#52

[2015-01-19 15:44] #481 closed

[2015-01-20 07:28] giacecco commented on #504
Blocked awaiting Fusion Data Science's return to the team.

[2015-01-20 08:27] giacecco opened #507 "Definition of manual takedown process and terms"
I see from https://github.com/OpenAddressesUK/roadmap/issues/25#issuecomment-70505121 that it was agreed that manual takedown of bad data will suffice for the time being. I'm happy with that.

I believe though that we need:

a) instructions that are sufficiently clear for anyone in the Tech Team - including the dummies like myself - to run the process safely and without assistance, including takin

[2015-01-20 08:33] giacecco commented on #503
Blocked waiting for Fusion Data Science to be back.

[2015-01-20 08:40] giacecco commented on #506
**DO NOT DEPLOY BEFORE https://github.com/theodi/shared/issues/507 **

[2015-01-20 10:32] Floppy commented on #500
Waiting for opencorporates to give us access to generalised code

[2015-01-20 10:38] giacecco commented on #507
Blocked awaiting @giacecco and @peterkwells to decide if even this is overkill.

[2015-01-20 11:33] #350 closed

[2015-01-20 11:35] #352 closed

[2015-01-20 12:09] Floppy commented on #499
We've got turbot pushing to github successfully. Just testing the morph end.

[2015-01-20 12:17] Floppy commented on #499
Also, morph has successfully checked out the code.

[2015-01-20 12:23] Floppy commented on #499
This is *very* promising.

[2015-01-20 12:45] giacecco opened #508 "Enhancements to the search API (part 1/2)"
This is support to case (a) described at https://github.com/OpenAddressesUK/roadmap/issues/28 . I've talked to @peterkwells and we believe it is worth doing the sooner the better.

Moreover, as user-submitted addresses start being processed, it would be disappointing if they could not come back and find them just because of this feature missing

[2015-01-20 15:33] pezholio commented on #490
Now live and done at https://sorting-office.openaddressesuk.org/

[2015-01-20 16:18] pikesley commented on #499
I think we can close this, can't we?

[2015-01-20 16:19] pezholio commented on #499
Yeah, totally

[2015-01-20 16:19] Floppy commented on #499
Let me finish the code tidyup first. Tests and stuff.

[2015-01-20 17:05] Floppy commented on #499
Upstream PR for opencorporates to review at https://git.opencorporates.com/chris/turbot_server/merge_requests/20.

[2015-01-20 17:06] Floppy commented on #499
Our own master PR is at https://git.opencorporates.com/openpostcodes/turbot_server/merge_requests/2. We can review and merge this one.

[2015-01-20 17:07] Floppy commented on #499
NOPE NOPE NOPE ignore me.

[2015-01-20 17:10] Floppy commented on #499
RIGHT: this one: https://git.opencorporates.com/openpostcodes/turbot_server/merge_requests/3

[2015-01-20 17:19] pezholio commented on #508
This may be a bit trickier than my first solution of just doing a regex, as this returns too many results initially. May need to use Elasticsearch, or maybe we can add indexes that make this faster

[2015-01-20 17:54] #499 closed

[2015-01-21 09:08] giacecco commented on #508
I am sure we discussed search performance before perhaps with @floppy, too.

I seem to remember we decided then that - if any of the following made search more performing or useful - it was acceptable:
- not to implement advanced search tools / methods like elasticsearch as long as the searching activity did not kill the rest of website,
- to constraint search to a minimum set of input argument, e

[2015-01-21 09:15] giacecco commented on #490
Sweet :-D

@pezholio I believe we need to do two more things I did not think of specifying before, though:

a) all addresses being submitted should also be saved for our own use (@peterkwells I guess we need to state that we're doing that, in the instruction page you see when calling the sorting office without parameters?), and
b) we should return the provenance of the reference tables we use for

[2015-01-21 09:24] pezholio commented on #490
Yeah, I think well need a new issue for this to be honest. I think 2 points should be enough.

[2015-01-21 09:43] giacecco commented on #507
@peterkwells and I talked about it, he will think to what are the minimum acceptable terms of takedown and we'll determine what their implications on tech ops and features are. @JeniT likely to be involved.

[2015-01-21 09:44] pezholio commented on #508
The issue here is that my initial solution was using a regex for searching (so searching for "high", would result in a search for `/^high/i`), which works perfectly well in development, but less well in production when pitted against the full dataset. I've started looking at fulltext indexing now, which may be a happy medium between regex and full on Elasticsearch.

[2015-01-21 09:48] giacecco commented on #503
@floppy @pezholio it is more useful if we move this straight to next sprint, to give Fusion time to be back and give us the theory first. The two points will be used to cover for the additions. Is that ok for you?

[2015-01-21 09:58] giacecco commented on #490
Even before the new features, I put this back in testing because it looks too easy to break, check https://github.com/OpenAddressesUK/sorting_office/issues/4 out.

[2015-01-21 10:32] peterkwells commented on #490
If we were to automatically submit addresses to the platform because they were searched for then we'd need to present the user with the submissions guidelines as per the submit form. (If via API then we'd need that guidance to go up as part of our rules for implementing the API.)

For our own website that feels like a thing where we need to consider the UX. How to get the submission guidelines in

[2015-01-21 11:05] giacecco commented on #503
Discussed during standup, no objections, this becomes a candidate for sprint 41.

[2015-01-21 11:06] giacecco commented on #483
Hi @floppy, how come this is got back to the backlog?

[2015-01-21 11:06] giacecco opened #509 "sorting_office enhancements"
Follow-up to https://github.com/theodi/shared/issues/490 . Resources freed thanks to the 2 points saved by postponing https://github.com/theodi/shared/issues/503 to later sprints.

Please add the following two features to *sorting_office*:

a) add an argument representing if the user of the API accepts OA's submission guidelines or not; if she does, all addresses being submitted for normalisation

[2015-01-21 11:06] Floppy commented on #483
Because we didn't have time for it in this sprint, and it wasn't critical for the work we did want to do. If that's changed, we can consider bringing it back in.

[2015-01-21 11:31] pezholio commented on #490
I've now fixed the breaking requests. I've moved this to done, and will now start looking at the extra features.

[2015-01-21 11:31] giacecco commented on #490
The additional reqs are now at https://github.com/theodi/shared/issues/509 . @peterkwells has a very good point, see how I managed that in the new specs.

[2015-01-21 11:34] pezholio commented on #509
With regard to a) - my understanding was that this was to be used as a tool for ETLs to parse address strings too - this means that when an ETL gets run, we'll get two addresses, one from sorting-office and one from the ETL itself. Is that OK? Also this means we won't be tracking the provenance of addresses added via an ETL

[2015-01-21 12:01] giacecco commented on #509
I believe you mean b), not a).

It don't think it is like you describe. Most ETLs will do this:

1) read their own data (e.g. Companies House's downloaded zip files)
2) for each address, if needed, call *sorting_office* to replace the original with the normalised one
3) submit the normalised address to the Ingester

This means that the ETL provenance **will** include a reference to the fact that i

[2015-01-21 12:11] pezholio commented on #509
Oh no, I get that, but if we're saving addresses submitted via sorting_office, and ETLs use sorting_office too, we'll get this pattern:

1) ETLs read an address line
2) The address line is passed to sorting_office
3) sorting_office parses the address AND saves the address to be processed by #506
4) The parsed address is returned
5) The ETL submits the parse result

The result of which will be that

[2015-01-26 09:47] pezholio commented on #508
I think we're going to have a job with this too, as fulltext searching (or even full-on Elasticsearch) is going to cause problems with false positives.

Thinking around this problem, I don't think we really need to do partial matching. People aren't necessarily going to search for street names without suffixes for example. However, we might consider when people may use short form suffixes (such as

[2015-01-26 11:34] giacecco commented on #487
@pezholio does the scheduler manage the scenario in which a previous distillation is not complete before the new one is launched?

[2015-01-26 13:11] pezholio commented on #487
Yeah, it basically asks Ernest for any addresses which have been distilled since the date the last address was added, so yes, it'll cover that

[2015-01-26 14:14] giacecco commented on #509
You are right, this is very interesting.

The point is that we are allowing anyone to use *sorting_office*, not necessarily just ETLs, and this means that the "second address" may never come.

At the same time, it is useful to avoid duplicates, as they would artificially inflate the confidence in those addresses being normalised by ETLs using *sorting_office* vs the ETLs that don't need *sorting_o

[2015-01-26 14:27] pezholio commented on #509
OK, good shout. I like this :+1:

[2015-01-26 14:53] JeniT commented on #508
@pezholio Won't ElasticSearch return a match measure for each match it finds? Can't we order by that? Can't we filter out those with a low match (experimenting a bit to determine what 'low' means)?

[2015-01-26 15:14] giacecco commented on #508
@pezholio's idea is not bad either, though, if we could demonstrate it is more performing or cost effective; each search could be made into the union of a series of searches: the original string's + the original string concat'ed the most common 'accessory words' (how are they called?): street, st, square, sq...

Consider though that, unless we change our mind about the scenarios described at https

[2015-01-26 16:53] pezholio commented on #508
I've done a bit more digging and found that you can have 'starts-with' functionality in Elasticsearch (rather than keyword matching, which is the default behaviour). This may work well for our purposes, though in order to index all the streets, we'll need to bump up our Elasticsearch index.

I'm going to have a play locally first before we commit.

[2015-01-27 10:10] #498 closed

[2015-01-27 10:10] #490 closed

[2015-01-27 12:09] Floppy opened #510 "Investigate failed individual member capsule store"
Kat signed up, but her details are sitting in the services queue and haven't been added to capsule. Need to work out why.

[2015-01-27 12:27] Floppy commented on #505
We're going to update the website to submit via sorting office, as that now does all the required work.

[2015-01-27 12:32] pezholio commented on #509
b) has now been implemented :dancers:

[2015-01-27 13:23] pezholio commented on #508
Blocked by not really knowing what I'm doing with ElasticSearch

[2015-01-27 13:29] pezholio commented on #510
Oh, wait. Look at the code:

https://github.com/theodi/open-orgn-services/blob/master/lib/capsulecrm/save_membership_details_to_capsule.rb

It runs `find_organisation` (https://github.com/theodi/open-orgn-services/blob/047dff4454f20105341187577665b64565473d33/lib/capsulecrm/capsule_helper.rb), which will always return nil. We need to change this to look for an organisation first, and, if it's nil,

[2015-01-27 13:31] Floppy commented on #510
Oh, whoops. It never calls #find_person at all?

[2015-01-27 13:34] pezholio commented on #510
Nah man

[2015-01-27 14:57] pezholio commented on #505
I think we've covered https://github.com/OpenAddressesUK/roadmap/issues/17 now. @giacecco when you talk about the PJSETL, do you want us to handle the address searching and everything, so it can be integrated into a user's website?

[2015-01-27 15:30] Floppy commented on #505
This is done, as other search work is in another roadmap ticket (OpenAddressesUK/roadmap#35)

[2015-01-27 16:16] Floppy commented on #510
That wasn't the root cause, though we have fixed it.

@georgiap @greenreveller the problem with individual members not appearing in CapsuleCRM is down to the Xero sync system creating new members in Capsule as organisations, not people, so our searches fail. We've got in touch with CapsuleCRM to see how to resolve this, but for now, we might need to convert people from orgs to people (which is eas

[2015-01-27 16:26] pezholio commented on #508
This was the thing I was trying http://www.elasticsearch.org/blog/starts-with-phrase-matching/

[2015-01-27 16:30] Floppy commented on #508
Fresh pair of eyes, attempting to unblock and move this on.

[2015-01-27 17:12] giacecco opened #511 "Bug: escape characters in ODI website's page titles"
![screen shot 2015-01-27 at 17 09 57](https://cloud.githubusercontent.com/assets/303693/5922966/b206ae60-a647-11e4-8c81-f50fc3c973fb.png)

[2015-01-27 17:18] Floppy commented on #508
OK, so the sample code in that phrase matching blost definitely works locally, so now to try with some towns.

[2015-01-27 17:55] pezholio commented on #506
I've written a quick script that will put the addresses we've had so far in the Google Doc (which I've exported as a CSV) into the RabbitMQ queue, which this can then consume:

https://gist.github.com/pezholio/61ed2547c01daa7c0310

I've not run it yet, but will do in the morning after standup

[2015-01-28 08:32] giacecco commented on #506
Ok I would like to understand more how "final" this is. From the sound of it, it is more of a temporary solution until we have the Turbot-based ETL.

Please also remember that no addresses submitted by the public should be published (API or Bittorrent) before we're also [ready to take them down](https://github.com/theodi/shared/issues/507). Are you working on the live data or some sandbox?

[2015-01-28 08:58] giacecco commented on #507
Internal version being reviewed at https://docs.google.com/a/openaddress.es/document/d/1ulzMDenyL3HoMvFS2F52luHMheVHG5tjRQr7MQpUw6E/edit# . Not ready for publishing beyond OA.

[2015-01-28 09:05] Floppy commented on #506
No, the idea here is that sorting office now queues addresses for processing by the single-address ETL. What @pezholio has written is a script that will go through the googledoc and send them to sorting office. It's just a one-time thing. We can explain in standup.

[2015-01-28 09:48] pezholio commented on #507
Seems entirely sensible to me :+1:

[2015-01-28 11:46] greenreveller commented on #510
Great - for the time being you can pull up a list of individual supporters here: https://theodi.capsulecrm.com/parties/list/106274

James, I can't see how to convert orgs to people in Capsule (only the other way around - can you show me how when you're in? thanks).

[2015-01-28 11:53] Floppy commented on #510
Confirmed all the data has now gone in, so this was definitely the problem.

The convert option is in the dropdown next to their picture.

![screen shot 2015-01-28 at 11 52 18](https://cloud.githubusercontent.com/assets/3565/5937158/2a8acaa0-a6e4-11e4-9103-c6d01f7ba596.png)

Discussion with Capsule is progressing. It looks like this will be a bit of a pain, but there are some things we can do...

[2015-01-28 11:54] Floppy commented on #510
Closing this for now as we know the problem, and we'll open a new issue for the proposed solution when we have one.

[2015-01-28 11:54] #510 closed

[2015-01-28 11:55] greenreveller commented on #510
Thanks @Floppy but I can't see the 'convert to person' option (only convert to org)?

[2015-01-28 13:02] Floppy commented on #510
Oh, yes, they are already people, we've done them. You'll see "convert to person" on organisations. If that makes sense.

[2015-01-28 13:28] greenreveller commented on #510
ah ok, so i'll keep doing that up until the problem is fixued

Andrea

Andrea Cox
Membership Manager
@andrea_cox_ <https://twitter.com/andrea_cox_> @UKODImembers
<https://twitter.com/UKODImembers>

The Open Data Institute <http://www.theodi.org/>
Tel +44 (0) 7855 456 002

On 28 January 2015 at 13:02, James Smith <notifications@github.com> wrote:

[2015-01-28 13:41] pezholio commented on #506
I've been thinking about this and I'm wondering - do we want this to be a bot in Turbot? The main issue is because the single addresses are published to IronMQ now, we have to have the access token and project ID in the code. If we pushed it to Turbot, we'd have to have the token published in GitHub, which obviously is a bad idea.

[2015-01-28 13:50] pezholio commented on #506
Or do we want to somehow allow people to add environment variables to turbot through the command line, or encrypted via the manifest.json (in a similar way to how Travis handle environment variables)

[2015-01-28 14:04] #509 closed

[2015-01-28 14:04] #505 closed

[2015-01-28 14:05] giacecco commented on #506
The design principle is that we do not want to maintain two different ingestion workflows, including all the side features of that such as take down etc.

[2015-01-28 14:05] Floppy commented on #508
OK, there are two bits to this. First, use a match_phrase_prefix search:
[code]
However, by default, this includes BLANDFORD FORUM which is shouldn't. Second step is to use the keyword tokenizer as suggested by the doc linked above.

Both those need inserting into the code separately. Now working on how to do each one.

[2015-01-28 14:06] pezholio commented on #506
Oh yeah, totally. Having this in Turbot *feels* much nicer. I guess I'm trying to work out how best to organise it.

[2015-01-28 14:10] giacecco commented on #506
I would love to have more time to help you on that :-(((

[2015-01-28 14:31] Floppy commented on #508
Ruby for search

[code]

Currently gives "BLANDFORD FORUM", which is wrong. Now to sort the index analyser.

[2015-01-28 14:49] Floppy commented on #508
ruby index code:
[code]

[2015-01-28 14:50] pezholio commented on #508
And does that work? Looks pretty much like what I had I think

[2015-01-28 14:51] pezholio commented on #508
However, when I was querying, I was doing `Street.es.search("Thing")`. Maybe that's where I went wrong

[2015-01-28 22:17] Floppy commented on #508
PR now open on https://github.com/OpenAddressesUK/mongoid_address_models/pull/7

[2015-01-28 22:21] Floppy commented on #508
Once that one's in, we can update the Gemfile.lock and merge https://github.com/OpenAddressesUK/sorting_office/pull/11

[2015-01-28 22:21] Floppy commented on #508
And then we can use it in theodolite as well.

[2015-01-29 06:53] pezholio commented on #508
Cool, nice work! we'll probably need to up our Bonsai ElasticSearch account before this makes it into production. The streets index is over 1GB on my machine.

[2015-01-29 11:03] giacecco opened #512 "Provisional Turbot-less single-address ETL bot"
Tactical solution to setup while fixing the [outstanding Turbot instance issues](https://github.com/theodi/shared/issues/500) and waiting for https://github.com/theodi/shared/issues/506 to be done properly, agreed with @jenit and @pezholio during demo on 29/1.

[2015-01-29 11:08] giacecco commented on #506
See https://github.com/theodi/shared/issues/512 . This is suspended until the next sprint.

[2015-01-30 10:28] Floppy commented on #508
Right, sorting office is using this successfully now.

[2015-02-04 07:40] giacecco opened #513 "Sorting Office: add the address components' URIs to the results"

[2015-02-04 08:46] giacecco opened #514 "OA Website: blog and news sections improvements"
@peterkwells please specify here your requirements for:

- [ ] sorting of [news items](https://openaddressesuk.org/about/news)
- [ ] sorting of [blog items](https://openaddressesuk.org/about/blog)
- [ ] display of author name associated to the above

Other?

[2015-02-04 08:51] giacecco opened #515 "OA Website: mobile templates improvements"
@peterkwells please specify here your requirements.

[2015-02-04 09:07] giacecco commented on #503
Changed title to be closer to what will actually happen.

[2015-02-04 09:19] giacecco commented on #504
Basic single-source, single-edition inference pseudocode:

[code]

E.g.
- [Clifton Street EC2A 4HB](https://alpha.openaddressesuk.org/postcode/EC2A%204HB.json?street=clifton+street&town=london) is made of even numbers 64, 66, 70, and 80. I will infer 68, 72, 74, 76 and 78.
- [Clifton Street EC2A 4LD](https://alpha.openaddressesuk.org/postcode/EC2A%204LD.json?street=clifton+street&town=london) is n

[2015-02-04 09:23] peterkwells commented on #515
1. As per numerous pieces of feedback the website needs to be responsive and accessible on mobile devices
2. At least one piece of feedback has reported overlapping text on mobile.

Iterate, rather than specify a desired end-goal, and make incremental improvements. Either Emma or Peter can do simple validation with the dev.

[2015-02-04 09:26] peterkwells commented on #514
As per feedback from users

1) sort all lists (news/blog) with newest date at the top
2) Display the author name which is in the markdown

We could go further (name tags/search functions etc.) but they don't seem needed yet. Let's keep iterating and learning....

Either Emma or Peter can do simple validation with the dev.

[2015-02-04 10:24] giacecco commented on #507
Two documents describe what we plan to do now:
- this is the [description for the public](https://docs.google.com/a/openaddress.es/document/d/1ulzMDenyL3HoMvFS2F52luHMheVHG5tjRQr7MQpUw6E/edit?usp=sharing) that has become https://alpha.openaddressesuk.org/about/reportaninfringement on the public website.
- this is the [internal process](https://drive.google.com/open?id=1u8eGjwJr7NKqkFp6xHtx0pvpE3Hb

[2015-02-04 10:32] peterkwells commented on #507
The internal process is ready for review by tech team. It is an MVPolicy, we will iterate as we learn through doing.

[2015-02-04 11:48] giacecco commented on #508
Hi All, what's the situation with this? I see that 'starts-with-phrase' still does not work with the live search. Thanks.

[2015-02-09 09:09] sumikasan opened #516 "ODI website: display all tags associated with an article on a webpage"
https://github.com/theodi/frontend-www/issues/364

[2015-02-09 09:09] sumikasan opened #517 "ODI Website: run a search for related articles using a tag"
https://github.com/theodi/frontend-www/issues/365

[2015-02-09 09:24] sumikasan opened #518 "Spike: Scope out the work needed to integrates Nodes and ODI websites"
Scoping and estimation of work needed to realise integration of web content & events to the main ODI website.

[2015-02-09 10:00] #512 closed

[2015-02-09 10:42] pikesley opened #519 "Handover of USODI domain"

[2015-02-09 10:43] pikesley opened #520 "Rationalise Linodes"
We still have 3 running, probably need only one

[2015-02-09 12:11] giacecco commented on #503
Specifications are being written at https://drive.google.com/open?id=1955JNRhDGMckIRObgS-9cEduY5p6cX6fKMjY-peSE8Q&authuser=0 . More work is needed before we can proceed to implementation. It is likely that the document will be completed by 11/2 and we will use @murraydata's time in the office on 12/2 to discuss and start thinking to how to implement.

[2015-02-09 12:15] giacecco opened #521 "Add inference to distillation process"

[2015-02-09 12:16] giacecco commented on #521
Duplicate of https://github.com/theodi/shared/issues/502 sorry

[2015-02-09 12:16] #521 closed

[2015-02-09 12:17] giacecco commented on #502
Superseded by #504

[2015-02-09 12:17] #502 closed

[2015-02-09 12:22] giacecco opened #522 "Add inference support to provenance"

[2015-02-09 12:38] giacecco commented on #522
Superseded by https://github.com/theodi/shared/issues/522

[2015-02-09 12:38] #522 closed

[2015-02-09 12:39] giacecco opened #523 "Validation APIs"
Create APIs that allow users to confirm or negate the existence of an address or any part of it. Optionally, the claim includes:
- timestamp the claim refers to (defaults to the API call timestamp)
- free-text reason for the claim
- free-text attribution statement

Indicative examples below:

[code]

confirms the existence of our London address;

[code]

negates it;

[code]

negates the existence

[2015-02-09 13:04] giacecco opened #524 "Integrate validation APIs in the search pages"
Following https://github.com/theodi/shared/issues/523 , add to the search results:

- at the top of each page: a discrete "Do you want to validate this results?" question
- if the user says yes to the above, two buttons appear  on the side of each address being displayed:  indicative labels "This address exists" and  "This address does not exist"

clicking on the buttons calls the respective valid

[2015-02-09 13:18] giacecco opened #525 "User documentation for OA's Turbot"
Write documentation that is sufficient for techies to start using ETLs for our Turbot. Have the Open Data Camp audience in mind.

[2015-02-09 13:22] giacecco opened #526 "Implement minimal ETL admin for Turbot"
Assuming some admin functionality does not come with Turbot out of the box, we need to implement minimum admin functions to create "API keys" or equivalent for new ETLs etc. Keep the Open Data Camp scenario in mind as a reference: Gianfranco and Peter need to be able to easily enable contributors to start hacking and create ETLs etc.

[2015-02-09 13:25] giacecco opened #527 "Port the Companies House ETL to Turbot"
... unless this was done already to test Turbot thus far.

Evaluate also options for the automation of the ETL execution. Companies House issues new data at the beginning of each month.

[2015-02-09 13:30] giacecco opened #528 "Implement concept of "editions" for published data"
See https://github.com/OpenAddressesUK/roadmap/issues/72 . This may have been done already or simply depend on https://github.com/theodi/shared/issues/506 .

[2015-02-09 13:32] giacecco opened #529 ""Camera ready" setup of all components to be offered at the Open Data Camp"
See https://github.com/OpenAddressesUK/roadmap/issues/74 . Is it useful to allocate points for this, to be sure we have resources in the days before the event?

The activity includes:
- [ ] run the ingestion of Companies House's latest data, using the new Turbot-based ETL or the old one, whichever is available
- [x] James' doc
- [ ] others?
- [x] Branding of http://turbot.openaddressesuk.org/ (Pai

[2015-02-09 13:36] giacecco opened #530 "Setup demo of most user-facing functionality"
This task brings together Sorting Office and the search APIs to build a mock website showing how an OA customer may use (most of) our services. This could be - for example - the hypothetical pizza delivery website we always use in our examples.

Make all code simple and client-side JavaScript.

This task replaces what was originally https://github.com/OpenAddressesUK/roadmap/issues/35 .

[2015-02-09 14:00] giacecco opened #531 "ETL sandboxing features"
Do they come out of the box with Turbot? Do we need to specify and develop our own?

[2015-02-09 14:02] #507 closed

[2015-02-09 14:11] sumikasan opened #532 "Membership directory - pairing"

[2015-02-09 14:16] sumikasan opened #533 "ODI website: job ad page not working properly"
We seem to be having issues with a new job generating on the /jobs page.
I’ve taken a look at Panopticon and Publisher and can’t seem to see anything that has gone awry.
There are currently a job that is live but not generating.

[2015-02-09 14:32] JeniT commented on #529
- [ ] contribution guidance

[2015-02-09 14:37] giacecco commented on #506
Postponed to *after* #41

[2015-02-09 14:38] giacecco commented on #515
For the UX person

[2015-02-09 15:57] pezholio commented on #533
This is all down to caching. I've fixed the immediate issue (and one that Steff was having with courses), but the underlying issue is a mystery. I've removed all mention of caching from the content api config in the hope that this will go away, but I'm not confident.

I'm going to close this for now, but I've asked people to be vigilant in case this issue happens again.

[2015-02-09 15:57] #533 closed

[2015-02-09 16:54] pezholio commented on #504
Just to be clear, are we running inference across ALL of the data, or are we only running it across newly added data? If it's newly added data, I'm assuming the flow goes something like this:

* Address is distilled
* We check to see if there are any other addresses in that road
* If there are, we run the inference logic as above

If we get ANOTHER address on that road, then I'm guessing we:

* Ch

[2015-02-09 17:02] pezholio commented on #504
Also, as per our discussion about making this into a web service, I was thinking the best solution might be a web service that accepts pre split addresses as JSON, for example:

[code]

If, for example, we find 131 High Street, the service will then return the following:

[code]

Does that sound sensible?

[2015-02-10 08:02] JeniT commented on #504
1. I think most inference will run across the whole dataset initially, but then need to be triggered by new entries as they come in. We already have the ability to download the whole dataset, so the addition here would be something that provides a feed of new/added/changed addresses.

2. It would make sense for most inference to happen on a street by street basis, so providing methods to a) get al

[2015-02-10 08:11] JeniT commented on #504
Oh hang on, you were talking about the API for the inference module; I was talking about for our service. I was imagining that the inference module would work independently, polling our service and sending addresses back to us. But you could do it the other way round, as a service that we ping every time there's a change, as you suggest.

I think in that case we should supply the
data about all ad

[2015-02-10 08:22] giacecco commented on #504
- @pezholio Re: running inference vs all the data or just added data. It really depends on the logic of it. What @JeniT writes in her comment at (1) is sensible but I won't take for granted that any inference we may run in the future could be triggered just by data additions. E.g. imagine we decided to kill inferred addresses that did not get any validation within 6 months. This 'check' won't be t

[2015-02-10 09:45] pezholio commented on #504
Cool, I take the point about streets and postcodes. I think you're right, the addresses we use for inference must definitely have the same postcode.

We probably need to talk more about this during standup, but I don't think we'll be in a position to start on this today anyway.

[2015-02-10 09:58] pezholio commented on #504
Also, just had a thought. Could we have an inference bot running as an ETL on Turbot?

[2015-02-10 10:01] Floppy commented on #504
You mean turbot running a bot that does the inference job? I thought that was the plan. At one point anyway.

[2015-02-10 10:03] pezholio commented on #504
It may well have been :smile: In that case my brilliantly original idea was accidentally stolen from the past.

[2015-02-10 16:51] pezholio commented on #500
We have a running Turbot. We'll need to make some tweaks to get it working properly for us, but it's all deployed and working nicely

[2015-02-11 10:22] pikesley commented on #500
Yes, it works, it's at turbot.openaddressesuk.org, but it's still covered in Open Corporates branding. @giacecco, we need somebody to take a look at this pls.

[2015-02-11 10:52] giacecco commented on #500
@pikesley be more specific what do you need? Removing the OC logo and replacing it ours and some acknowledgement and thanks to OpenCorporates for maintaining the original Turbot should not be an issue. Or I'm misunderstanding you?

I can prepare the image myself if you need to.

[2015-02-11 10:56] pezholio commented on #500
Yeah, that's the easy bit, I think we'll need to tweak some wording too, which will probably need input from @peterkwells and/or Comms. Can probably be done as part of #529

[2015-02-11 17:42] Floppy commented on #508
This is now working as well as we can get it. You may get 0 results if you don't provide enough information (search for all streets starting with a single letter, for instance), but we've pushed elasticsearch as far as we know how at the moment, and that's a pretty strange use case. We'll see if anyone reports it as an error. However, this certainly now supports typing in the first part of a road

[2015-02-11 20:44] giacecco commented on #508
Hurray!

[2015-02-11 20:44] #508 closed

[2015-02-12 10:57] Floppy commented on #523
I'm thinking we add a validation model to the ernest data model. A validation can derive from an address. We can then follow the provenance chain for an address to build another address with a confidence measure based on the validations.

[2015-02-12 10:59] Floppy commented on #523
Ideally this data would flow directly into the ernest API, as it's part of the full data model. Interesting that we need to match to IDs from theodolite though.

[2015-02-12 11:00] Floppy commented on #523
I'd suggest the URL structure of the form {address_url}/validations though, and a POST to create a new one.

[2015-02-12 11:07] Floppy commented on #523
Should every validation produce a new derived address automatically, or should that be a post-processing step, I wonder?

[2015-02-12 11:32] Floppy commented on #523
Stepping back from the validation products - this ticket is just about storing those validations. Also, any object in the ernest DB can have a validation on it.

[2015-02-12 15:24] giacecco commented on #503
@floppy, @pezholio the confidence scoring specifications are [complete](https://docs.google.com/document/d/1955JNRhDGMckIRObgS-9cEduY5p6cX6fKMjY-peSE8Q/edit?usp=sharing). We presented them quickly to @pezholio this afternoon but we need you to study the document from top to bottom with a fresh mind so that you can understand any of its implications on implementation.

@murraydata is available to h

[2015-02-16 07:45] giacecco commented on #529
@pezholio @floppy @pikesley also note that @peterkwells has started preparing [here](https://docs.google.com/a/openaddress.es/document/d/17L8g3v3n_Dk4CqK6WYShm_Ze1p_AaBoCnK53DFYG5Ro/edit?usp=sharing) a todo list with a wider scope than tech we should check the sprint work we are doing against. Ask if anything is not clear.

[2015-02-16 17:07] giacecco commented on #503
Changed to low priority. After today's catch-up with the team this is unlikely to fit the current sprint and I need not to dilute the remaining time and effort. FYI @peterkwells @jenit.

[2015-02-16 17:13] pezholio commented on #501
We now have this:

https://github.com/OpenAddressesUK/chas

To get the rest of the pieces into place we need to:

- [ ] Adapt the schemas in https://github.com/openc/turbot-client to support addresses
- [ ] Work out how to pick up the output of the scrapers and import them into Ernest. Open Corporates have Angler (code is in the Gitlab instance), but we may want something a bit more lightweight
-

[2015-02-17 14:58] #523 closed

[2015-02-17 15:34] Floppy commented on #523
Completed and working. API interface can be seen in https://github.com/OpenAddressesUK/ernest/blob/master/spec/api/validation_spec.rb and will be included in the documentation we write for ernest/turbot under a separate ticket.

[2015-02-17 15:35] Floppy commented on #523
Verified working with live system - a POST to the right address places a validation record into the database. What we do with it, well that's the next stage.

[2015-02-17 15:57] Floppy opened #534 "Rebrand Turbot"

[2015-02-17 16:02] pikesley commented on #534
turbot_server/app/views/docs/_intro.html.erb as a starting point

[2015-02-18 09:49] Floppy commented on #524
Unfortunately an ernest API key is required, so we will have to have some of it server side.

[2015-02-18 12:58] giacecco commented on #524
Well it's the validation APIs "server" that need the ernest API key, not the client to the validation APIs, correct?

[2015-02-18 13:00] Floppy commented on #524
The validation API is only in ernest (currently). Wherever it was though, we'd want some sort of API key for the validation API, wouldn't we, but you don't really want those things leaking client side.

[2015-02-18 13:06] giacecco commented on #524
I agree, but at the same time we have already decided to cater also for low quality, anonymous contributors. In the same way we get addresses from anyone on the website and Sorting Office, we should be able to do the same for validation what do you reckon? Can you Hangout at around 2?

[2015-02-18 13:13] Floppy commented on #524
OK, I can easily make validation not require the API key; that's easy enough to do.

[2015-02-18 13:14] Floppy commented on #524
No need for hangout unless you've got anything else you want to cover.

[2015-02-18 13:54] giacecco commented on #524
I've spoken to @peterkwells, too, about this. For the time being we need to be a little looser and allow anonymous validation information submission, too.

Note, this is not _in alternative_ to what you've done already, but in addition.

It is good that validation through the website's search result pages is recognised as such thanks to the API key reference. But we also need an anonymous API to d

[2015-02-18 13:54] Floppy commented on #524
UI question - do we want this on the search page, or on the individual address page? That's a lot of buttons to add to a search result page, it might be better on the single-address page (as an example, at least).

[2015-02-18 14:15] peterkwells commented on #524
Recommend starting with individual address page, similarly we currently only allow individual address submission. Just as we will use a UX bod to gradually allow multiple address entry we can gradually allow multiple address validation. The platform can support it, the UX is all about how we expose it.

re: anonymous or not to be anonymous. There's a whole governance piece around the APIs that nee

[2015-02-18 14:29] giacecco commented on #524
+1 for the individual address page.

[2015-02-18 14:30] Floppy commented on #524
great. I'm working on this in pure javascript, so we can have something people can just drop in easily.

[2015-02-18 19:28] Floppy commented on #524
Took a while to get the CORS stuff sorted, but this jsfiddle does it: http://jsfiddle.net/udc7w1np/. Will add the UI first thing, shouldn't take long.

[2015-02-19 08:12] giacecco commented on #523
@floppy about [your comment](https://github.com/theodi/shared/issues/523#issuecomment-74686809) about the documentation, I believe we need it to be very independent from Turbot's. It is not difficult to imagine many applications using the search and validation APIs independently of anything else.

I suggest that the best way of doing this is to offer an interactive / instruction landing page on th

[2015-02-19 08:15] giacecco commented on #525
See https://github.com/theodi/shared/issues/523#issuecomment-75012705 . Be careful not to require readers who are interested in one component of our solution to need studying also the others to understand the first.

Components such as sorting office or the validation APIs can be used stand alone and it is useful to describe and document them separately from the rest.

[2015-02-19 08:24] giacecco commented on #523
@Floppy I've tried the JSFiddle example with my home address https://alpha.openaddressesuk.org/addresses/UAdD1o.json but I'm not getting the "OK" back, can you please check it's working?

In general, what's the easiest way for me to check the contents of ernest, e.g. for debugging what just went wrong? Just want to look into it, not fiddle with anything. I never had the time to try, and it may be

[2015-02-19 08:46] Floppy commented on #523
validations aren't exposed in ernest at the moment, which is slightly annoying. Maybe I'll make a resource to show them. Currently the only way is with the console, which @pezholio has just checked and verified it's all working. There is a PR about to merge to get this on the website.

Agreed on documentation, I didn't mean to imply that it would be part of the turbot docs, but part of the ernest

[2015-02-19 08:47] Floppy commented on #523
I was having a conversation with Peter about API docs; let's talk about that at standup.

[2015-02-19 10:25] giacecco commented on #504
Postponed to sprint >=42, unfortunately. FYI @peterkwells.

[2015-02-19 10:42] pikesley opened #535 "Force Ernest to ssl"
It currently works over SSL. but I think it should enforce this, which might mean regenerating all the provenance because the provenance has the scheme embedded in it :/

[2015-02-19 12:53] Floppy commented on #524
OK, this is all done now. There is a single javascript file at https://alpha.openaddressesuk.org/assets/validate_address.js which has a function which wraps the validation API.

[2015-02-19 14:13] giacecco opened #536 "Move maps on the website from OSM to OS Street View"

[2015-02-19 14:31] giacecco opened #537 "Add attribution information to the Turbot manifest"

[2015-02-19 14:32] giacecco opened #538 "Add provenance support to the ETL source data's"
ETLs should be able to specify custom optional provenance information that describe the history of the data pre-ingestion, where relevant.

[2015-02-19 15:28] #524 closed

[2015-02-19 15:28] #535 closed

[2015-02-19 15:28] #500 closed

[2015-02-20 09:48] pezholio commented on #529
This is The Big List of Things We Need To Do To Get Turbot Running

- [ ] Add a schema for addresses to our fork
- [ ] Pull the new schema into turbot-client and turbot-runner
- [ ] Get a new fork of turbot-runner into Github (need to speak to Seb about this)
- [ ] Fork the [Morph Docker Image](https://github.com/openc/morph-docker-ruby) and reference our version of turbot-runner (and optionally t

[2015-02-20 10:35] Floppy commented on #536
Done in https://github.com/OpenAddressesUK/theodolite/pull/112 - ready to merge.

[2015-02-20 11:09] Floppy commented on #536
Works lovely. https://alpha.openaddressesuk.org/addresses/FSjJCH.

I've not tweaked the attribution statement, just used what was in their example. @peterkwells @giacecco want to check you're OK with it?

[2015-02-20 11:19] peterkwells commented on #536
Looking at attrib now

[2015-02-20 11:35] #501 closed

[2015-02-20 11:52] peterkwells commented on #536
Worked through Ts/Cs/site/etc. Some key points below. Doesn't quite work at the mo..., 3 and 4 are the key bits.

1. To clarify the q yesterday. No. we cannot serve the OS data (see 1) or make money from it (see 7). Those are both fine.
2. We should be careful of derived data (see 3). As it stands it's fine.
3. We need to have a link to End User Terms of Use (see 4)
4. Attribution text needs tweak

[2015-02-20 11:54] peterkwells commented on #536
Also can @Floppy @pezholio @pikesley @JeniT remember to ask me at ODcamp tomorrow about "platform plays". I want to check that we all know something that's easier to explain in person with a picture. No concern but good to know.

[2015-02-20 12:26] Floppy commented on #536
Oh, good god, the End User Terms of Use is a massive license contained within our license that we need to host on our site. FFS. This is why people ignore these things.

[2015-02-20 12:28] Floppy commented on #536
@peterkwells can we insert the content of Schedule 2 of http://www.ordnancesurvey.co.uk/business-and-government/licensing/licences/os-openspace-developer-agreement.html into our site terms? Where should we put it?

[2015-02-20 12:36] peterkwells commented on #536
1. +1 for simpler human-friendly licences
2. We probably need a "Terms and Conditions" link alongside the "Privacy Policy link" at the bottom. Can you create that and leave some holding text:

"Terms of use can be complicated things.

We'll have a simple one up soon.

In the meantime please be aware that our search page uses maps provided by the Ordnance Survey. Their terms and conditions can be f

[2015-02-20 12:37] Floppy commented on #536
Okey dokey.

[2015-02-20 13:17] Floppy commented on #536
Done.

[2015-02-20 13:40] giacecco commented on #534
@pezholio suggested it is faster if he does the job and I just provide text or images. If @floppy was already planning to write/revise Turbot's documentation, he may take this task too.

Here are the quick and dirty changes for the weekend.

- [ ] replace header logo with https://dl.dropboxusercontent.com/u/13837050/turbot-temp/header-logo.png ; I prepared the new images so that they are identical

[2015-02-20 13:48] Floppy commented on #534
OK, I'm going to start this all now.

[2015-02-20 15:08] peterkwells commented on #536
Ta. Let's leave this open to track me doing simple t's and c's.

[2015-02-20 16:18] Floppy commented on #534
Done. I'll make more changes in the docs as I go.

[2015-02-20 18:25] Floppy opened #539 "Ernest validation documentation"

[2015-02-21 07:46] Floppy commented on #539
This will be at http://ernest.openaddresssuk.org very shortly.

[2015-02-21 08:13] #539 closed

[2015-02-21 08:26] #525 closed

[2015-02-21 08:26] #534 closed

[2015-02-21 08:27] Floppy commented on #529
Right, all the documentation is complete, and linked from the tech docs in the appropriate places. I'm concerned that that document is far too long and we could do with a simple quickstart, but I'll ask @peterkwells about that once we get to ODCamp.

[2015-02-21 08:28] Floppy commented on #529
Actually the turbot docs need deploying - @pikesley will do that once we land at ODCamp as well.

[2015-02-23 12:53] Floppy opened #540 "Unarchive posts in publisher/panopticon"

[2015-02-23 12:53] Floppy commented on #540
Carlina would like a proper way to unarchive posts. It happens quite a lot with jobs, etc.

[2015-02-23 12:54] Floppy opened #541 "Consider node website questions"
Some time required to consider the following from @langphil:

We are looking at potentially employing Wordpress multi-site to centralise and manage the Node websites that are upcoming. I wanted to run this solution past you to consider the following aspects;

* What amount of time / tech team resources would you envisage (if any) this setup would take?
* We need to consider the management of URL's

[2015-02-23 12:57] #536 closed

[2015-02-23 14:01] sumikasan commented on #541
Also see:
https://github.com/theodi/shared/issues/518

[2015-02-23 14:05] sumikasan commented on #532
@pikesley - pairing needed to support @pkqk in the 2nd week of this sprint

[2015-02-23 14:08] langphil commented on #518
Yes,

This is important to factor in also.

Thank you for pointing out.

@Floppy @sumikasan

[2015-02-23 14:12] giacecco opened #542 "Design approach to Turbot deep archive"
Duplicate!

[2015-02-23 14:12] giacecco opened #543 "Design approach to Turbot deep archive"

[2015-02-23 14:13] Floppy commented on #511
Duplicate of #393

[2015-02-23 14:16] #511 closed

[2015-02-23 14:16] #542 closed

[2015-02-23 14:16] pikesley opened #544 "Add server monitoring"
Heroku should be easy, Docker things less so

[2015-02-23 14:27] JeniT opened #545 "Support recording a confidence measure within Open Addresses"
So the data schema includes a confidence score.

[2015-02-23 14:43] JeniT opened #546 "Create pre-cooked statistical confidence scores"
eg for association between locality & postcode, locality & street.

[2015-02-23 14:46] JeniT commented on #503
This will need to build on #546

[2015-02-23 14:55] #529 closed

[2015-02-23 15:09] giacecco opened #547 "Spend Network ETL"
Blocked as we will try to get the community to deliver this.

[2015-02-23 15:09] pezholio commented on #527
Pushed to https://github.com/oa-bots/companies_house - Gonna wait for it to run and see if we get anything sensible out of it. @floppy, could you clone and run locally and see if anything blows up?

[2015-02-23 15:14] giacecco commented on #545
@pezholio @floppy learn about confidence by following these simple four steps:
a) read the blog post at https://alpha.openaddressesuk.org/blog/2015/02/20/confidence
b) read the specifications of the scoring system at https://docs.google.com/a/openaddress.es/document/d/1955JNRhDGMckIRObgS-9cEduY5p6cX6fKMjY-peSE8Q/edit
c) ask @giacecco about what you did not get, and
d) ask @murraydata to to see how

[2015-02-23 15:56] pezholio commented on #513
This is totally sensible, but I'm just wondering how to fix this without potentially breaking anything for other users, do we version the API, or do we add a `show_urls` flag?

[2015-02-23 16:22] Floppy commented on #513
I think at this point we'd be safe to just do it. I expect I'm the only regular user :)

[2015-02-24 09:11] pezholio commented on #527
So, this crapped out on two runs in Chas (basically on the sorting office run), so I've added some code that retries requests to Sorting Office (I am kicking the you know what out of it) and am running it again.

[2015-02-24 11:31] #513 closed

[2015-02-25 13:38] pezholio commented on #504
So, I have http://jess.openaddressesuk.org/. At the moment, this infers addresses when given a JSON representation of an address. Next thing to do is to return provenance when the URL of an address is posted. I'm thinking if we post `address=https://alpha.openaddressesuk.org/addresses/rYwoGk` for example we get back the response as with the json, but with a provenance section like so:

[code]

[2015-02-26 11:24] giacecco opened #548 "Add submission guidelines / acceptance to Turbot"
@peterkwells requires this as an urgent change, feel free to drop lower priorities OA features from the sprint if necessary.

We should:

- Reference the guidelines in Turbot's *homepage, use Sorting Office as a model, and

**AND**

- ... as part of the ETL registration process, users must be shown the submission guidelines and state to have read and accept them for the process to proceed. It is p

[2015-02-26 11:36] peterkwells commented on #548
I have _not_ urgently requested the AND clause (to make this part of the registration process). That is tracked in roadmap feature #79.

My request was simply to change the static text. I'd do it myself it I knew where it was .....

[2015-02-26 11:48] giacecco commented on #548
Ok fall back to the first part only. The "... as part of the ETL registration process, (...)" goes into the wishlist for later stages.

@pikesley, James suggested you can do that, so that we leave him and Stu to work with John on inference implementation.

[2015-02-26 11:54] pikesley commented on #548
Not sure I understand the intent here, do we want the text from [here](https://github.com/OpenAddressesUK/roadmap/issues/79#issue-57287306) on the Turbot front page?

[2015-02-26 12:03] giacecco commented on #548
Practically yes but for the stuff that does not apply. I suggest you continue the paragraph starting with "Welcome to Turbot! This is where..." with this text:

[code]

The "start contributing" button could also be renamed into "I accept the submission guidelines and want to start contributing". Not snappy, but says it all.

[2015-02-26 12:55] pikesley commented on #548
Pushing to Tutum right now.

[2015-02-26 13:31] pikesley commented on #548
Done: http://turbot.openaddressesuk.org/

[2015-02-26 13:45] giacecco commented on #548
Re-opened to check that @peterkwells is happy.

[2015-02-26 16:01] Floppy opened #549 "Patrick's tracking code"

[2015-02-26 16:02] Floppy opened #550 "Missing post on news page"

[2015-02-26 16:22] giacecco opened #551 "Add age of individual address to Ernest data model"
From https://github.com/OpenAddressesUK/roadmap/issues/4 .

One component of confidence scoring is a 'decay' associated to the age of the source information.

Data sources such as Companies House's have events associated to the individual records, typically the dates when an event in the life of the company took place, e.g. constitution or the change of a director. That is the most relevant date t

[2015-02-26 16:34] giacecco commented on #504
As discussed today, the "time decay" component of the heuristic adjustments to the score will be temporarily use as "age" of the data the time passed from the moment of ingestion. Later, it will be as described [here](https://github.com/theodi/shared/issues/551).

[2015-02-27 08:15] giacecco opened #552 "Fix broken lat/lon support"
This is the final fix to the issue and what @floppy refers to at https://github.com/OpenAddressesUK/theodolite/pull/117#issuecomment-76176234 .

[2015-02-27 10:27] Floppy commented on #550
backend node 1 is currently in a known-bad state, and is missing Jeni's post at http://theodi.org/blog/why-is-open-data-a-public-good from the blog tag list at http://contentapi.theodi.org/with_tag.json?article=blog.

Node 1 is not in the pool, so can be investigated at our leisure.

[2015-02-27 10:30] Floppy commented on #549
Add to static js, and member directory js. There is another similar thing already there, this can go alongside. It's for comparison of services.

[code]

[2015-02-27 10:30] Floppy opened #553 "Quick fix to lat/long"
Need to apply a quick fix to the lat/long swap in https://alpha.openaddressesuk.org/addresses/5GZNIf.json. Proper deep fix will happen in #552

[2015-02-27 12:43] Floppy commented on #549
Should be added now

[2015-02-27 12:46] Floppy commented on #506
Waiting until we can deploy chas update, once the CH ETL has finished.

[2015-02-27 16:38] #553 closed

[2015-02-27 16:43] pezholio commented on #545
I've added basic score calculation to the address as can be seen in https://github.com/OpenAddressesUK/ernest/blob/confidence/lib/models/address.rb#L17

This gets the statistical confidence for the towns and streets, calculates the total confidence, applies the heuristic adjustment (using the `created_at` date for now), and then applies the Companies House weighting (hard coded for now).

Bear in

[2015-02-27 16:44] Floppy commented on #545
:+1: I can take a look at speeding it all up with indexes etc next week. Sweeet.

[2015-02-27 16:45] pezholio commented on #545
Oh, and the build is broken at the moment, because there's some massively weird shit going on - *maybe* to do with Database Cleaner. The tests work fine in isolation, but all together the scores change ¯\_(ツ)_/¯

[2015-02-27 16:52] pezholio commented on #504
We can now infer from addresses in the database, just `POST` a token like so:

[code]

And you'll get back a blob of JSON like so:

[code]

Note that this only infers 'upwards', as this was what was in @giacecco's original specs, but it can easily infer both ways, just delete https://github.com/OpenAddressesUK/jess/blob/master/lib/jess.rb#L28

[2015-02-28 22:16] JeniT commented on #504
I don't get it: where does the token come from?

[2015-03-02 10:05] giacecco commented on #504
I had suggested @pezholio to rename the argument to something like "seed" but yes, it is not self explanatory. That is an address identifier as in https://alpha.openaddressesuk.org/addresses/rYwoGk . It's a seed as by referring to an address you're telling the inference engine to investigate its street and postcode combination.

[2015-03-03 15:55] Floppy commented on #506
Happening in http://github.com/OpenAddressesUK/sorting_machine

[2015-03-04 10:13] #549 closed

[2015-03-04 14:52] Floppy commented on #504
In https://github.com/OpenAddressesUK/jess/pull/1 I've changed provenance for token lookups to use the ernest URLs, because that's what it actually derives from, and otherwise we end up with theodolite URLs in the core DB, which we don't want.

A next step on this is to move the inference querying to use the ernest DB directly instead of the published address file, but that needs confidence measur

[2015-03-04 17:12] pikesley opened #554 "A bot died"
`The following record is invalid:
{"saon":null,"paon":"45 leonards close","street":null,"locality":null,"town":null,"postcode":"TF2 8BJ","provenance":{"activity":{"executed_at":"2015-03-04T12:56:07+00:00","processing_scripts":"https://github.com/OpenAddressesUK/sorting_office","derived_from":[{"type":"userInput","input":"45 leonards close, tf2 8bj","inputted_at":"2015-03-04T12:56:07+00:00","proces

[2015-03-06 09:15] Floppy opened #555 "Data as Culture related items"
From Joe:

 the data as culture page needs a little work. The related items are not being generated in Panopticon...
they seem to be coming from elsewhere
we hoping to also get the styling cleared and the panopticon related items functionality turned on for that page. Phil said it would be a quick job but let me know if foresee any problems.

[2015-03-06 09:18] Floppy commented on #527
This processed 1.5million addresses before crapping out on a bad CSV (file 4, if I remember correctly). The resulting output was 1.7GB, which will make IronMQ absolutely shit itself, so we need to cut up the output or process it as it goes along. We considered adding each output line to the queue separately. I suspect this will want to be a job for next sprint. The ETL bot Stuart has written is wo

[2015-03-06 09:18] Floppy opened #556 "Handle enormous output files from bots"
Very large output files from bots will make things explode. Add output lines individually to queue, or make turbot handle output line-by-line as bots run.

Also need to handle long-running bots without timeouts.

[2015-03-06 09:20] Floppy commented on #556
See #527 for history

[2015-03-06 09:38] Floppy commented on #555
I'm not exactly sure which page this is referring to. @langphil can you add any more precise detail?

[2015-03-06 09:48] langphil commented on #555
Hi @Floppy
The page in question is [this one](theodi.org/culture).
From what I can remember, the aside boxes were added *manually* before  we had related items functionality in the Panopticon side of publishing. What is specified in Panopticon as being a related item for this page seems to have to bearing upon what is being generated. So it is coming from elsewhere. I wanted to see if yourself or

[2015-03-06 09:52] Floppy commented on #555
Ah, I see. What needs adding? I'll add it quickly manually, or fix the underlying requirement if there is time.

[2015-03-06 09:53] Floppy commented on #555
Yep, here they are: https://github.com/theodi/frontend-www/blob/master/app/views/content/culture_page.html.erb

[2015-03-06 09:56] langphil commented on #555
@floppy If I replace the aside stuff with the following, will that fix it?

</div>
<% if @publication.related_links.count > 0 %>
<aside class="article-sidebar listing">
<% @publication.related_links.each do |link| %>
<div class="module module-light module-colour-<%= rand(1..12).to_i %>">
<a href="<%= link[:url] %>">
<h1 class="module-heading"><%= link[:title] %></h1>
</a>
</div>
<% end %>
</aside>

[2015-03-06 10:00] langphil commented on #555
Great, if I take an aside from another page that is generating related
items correctly and replace what is here, will that fix it?

—
*Phil Lang - Digital Production Editor*
@ODIHQ <https://twitter.com/ODIHQ> | thodi.org
@langphil <https://twitter.com/langphil> | *0741 44 63047*

On 6 March 2015 at 09:53, James Smith <notifications@github.com> wrote:

[2015-03-06 10:12] Floppy commented on #555
yes, just done it - there is some shared code that we use that's now in there.

[2015-03-06 10:18] #545 closed

[2015-03-06 10:18] #546 closed

[2015-03-06 10:18] #548 closed

[2015-03-06 10:18] #506 closed

[2015-03-06 10:19] langphil commented on #555
Thank you!!

—
*Phil Lang - Digital Production Editor*
@ODIHQ <https://twitter.com/ODIHQ> | thodi.org
@langphil <https://twitter.com/langphil> | *0741 44 63047*

On 6 March 2015 at 10:12, James Smith <notifications@github.com> wrote:

[2015-03-06 10:39] Floppy commented on #555
It's working now. Not quite as pretty, but yes, working.

[2015-03-06 11:06] Floppy opened #557 "Rename the OA heroku apps"
So we know what the hell we're doing.

[2015-03-09 06:26] giacecco commented on #527
Thanks @floppy. So, for clarity, we still cannot offer a downloadable version of the data more recent than 10 December, correct?

We're also not been running the serialisation for a long time, are we sure that - when we'll be ready again - it will run nicely? FYI @pezholio.

[2015-03-09 06:28] giacecco commented on #506
You mean "sorting_office" ;-)

[2015-03-09 08:25] Floppy commented on #506
Nope, I just got the wrong link: https://github.com/oa-bots/sorting_machine :)

[2015-03-10 18:36] langphil commented on #555
Hi,
I'm still seeing issues here. It now seems that the related items are being directed towards the news/blog, even though they are generic pages.

**Links should be going to**

http://theodi.org/data-as-culture-2014

**But end up going to**

http://theodi.org/news/data-as-culture-2014

[http://theodi.org/culture](Culture page)

[2015-03-11 10:30] Floppy commented on #555
Oh, bugger it, so they are. Hmm.

[2015-03-11 16:31] langphil commented on #555
Hi @Floppy

Just checking if this got resolved?

Thanks

[2015-03-12 09:18] pezholio commented on #555
I think this is fixed? Unless I'm missing something?

[2015-03-12 10:14] Floppy commented on #555
Yeah, this looks right to me now. How odd.

[2015-03-12 10:14] #555 closed

[2015-03-12 10:37] langphil commented on #555
Yes, you are correct. Seems to have updated overnight.

[2015-03-12 10:46] langphil opened #558 "Module images in the aside"
Hi,
I'm looking to see if I could have modules that appear in the *Related items* section of webpages make use of the module images that are uploaded in the Panopticon section of publishing. At the moment it does not seem as if this is functional.

For instance, on the [Data as Culture](http://theodi.org/culture) the assigned related items in the aside all have images individually added to them in

[2015-03-12 10:51] langphil opened #559 "Interntational node news"
I'd like to merge the following into the main news/blog feed on the website:

[International node news](http://theodi.org/nodes/news) to become integrated with the [news/blog feed](http://theodi.org/news), so that they one feed on one page.

Any questions, please ask

@kcorrick @Floppy @pezholio

[2015-03-12 13:28] giacecco opened #560 ""Confidence scoring as a service""
AKA Jess for confidence scoring. This API scores any address given as an input, including addresses that are not in the OA database, e.g. specified as free text. Includes a ```contribute``` parameters identical to Sorting Office.

[2015-03-12 13:31] giacecco opened #561 "Add confidence to all APIs that return addresses"
Include confidence scoring to all addresses returned by any API (search, but also Sorting Office) if a ```confidence=true``` parameter or equivalent is specified.  Blocked by #560.

[2015-03-12 13:36] giacecco opened #562 "Add confidence to full version of downloadable data"
Blocked by #560.

[2015-03-12 13:42] giacecco opened #563 "Fix all Sorting Office issues"
This is just to be sure we save time to address [all open Sorting Office issues](https://github.com/OpenAddressesUK/sorting_office/issues?q=is%3Aissue+is%3Aopen+).

[2015-03-12 13:44] giacecco opened #564 "Fix addresses that contain personal data"
As suggested by @floppy at https://github.com/OpenAddressesUK/ernest/issues/30#issuecomment-78480304 .

[2015-03-12 13:49] giacecco opened #565 "Inference "run" on all past addresses"
Blocked by #504 and #569 (so that we have a fatter Companies House before we infer).

[2015-03-12 13:52] giacecco opened #566 "Schedule nightly runs of Hippodamus"
Blocked by #567 .

[2015-03-12 13:54] giacecco opened #567 "Hippodamus revamp"
Check that [Hippodamus](https://github.com/OpenAddressesUK/hippodamus) is still working vs all the changes of the last few months and publish one full set of up to date, downloadable datasets.

[2015-03-12 13:58] giacecco opened #568 "Automatic publishing of latest downloadable datasets URL"
https://alpha.openaddressesuk.org/data should automatically be updated to point at the latest downloadable editions.

Blocked by #566.

[2015-03-12 14:04] giacecco commented on #527
Re-opened, as in the end we weren't successful.

[2015-03-12 14:04] giacecco opened #569 "One full run of the Companies House ETL"
Just to account for some time, since this gave us trouble in the previous sprint.

Blocked by #551, #552, #527 and #563: not useful doing until Sorting Office is more robust.

[2015-03-12 14:06] giacecco opened #570 "Automate monthly run of the Companies House ETL"
New data is published every month, sometime in the first days. Automation should be ready to "wait" for the new data to popup and start processing as needed.

Conceptually: is it correct that every month we may be adding to the raw database most of the same data? In a way, yes, as it active companies are a strong assertion about the address existing. But what are the drawbacks?

Blocked by #569.

[2015-03-12 14:13] giacecco opened #571 "Make OA platform stats available to a "dashboard" on website"
Investigate and implement options to extract data from Google Analytics and feed it to some dashboard on the website, as part of the website revamp work. @patricejb / @peterkwells will give more detail of what exactly we need.

[2015-03-12 14:37] patricejb commented on #571
Quite new to this, is this where you raise tickets/ queries? I'll speak with David about what data we can pull this avro.

[2015-03-12 14:41] giacecco opened #572 "Add age of individual address to "raw" database model"

[2015-03-12 15:19] #554 closed

[2015-03-12 15:29] Floppy commented on #483
See #572

[2015-03-12 15:35] #547 closed

[2015-03-12 15:35] #531 closed

[2015-03-12 15:35] #526 closed

[2015-03-12 15:35] #530 closed

[2015-03-12 15:35] #514 closed

[2015-03-12 15:35] #483 closed

[2015-03-12 15:40] sumikasan commented on #532
@pkqk - now you finished the phase 1, can we close this?

[2015-03-12 15:41] #570 closed

[2015-03-12 15:48] #532 closed

[2015-03-12 17:35] patricejb commented on #571
To summarise our discussion earlier the dashboard features for the home page are:
- Total number of addresses
- % Regional breakdown of addresses  - i.e. 15% of OA's addresses are addresses in the Midlands
- Average address score percentage and daily comparative stat
- Total number of ETLs
- Total number of addresses served through search
- Total number of addresses updated (collaborative maintena

[2015-03-12 18:03] peterkwells commented on #571
To help design discussions here's a *draft* of the speadsheet wot I scribbled in my notebook. Feel free to comment/edit/change. I guarantee mistakes!

Note the different services, they can be 'added together' for an overview for certain types of user.

Note the desire to have our internal svce mgmt using the same stats as external detailed users, i.e. users who are interested in more than the fron

[2015-03-16 09:06] pezholio commented on #564
I've deleted the one that Peter made, are there any others?

[2015-03-16 09:13] pezholio commented on #552
I'm taking a snapshot of the DB and trying a fix locally. If it works, then I'll run it on the live DB. This is going to have to be done very carefully though

[2015-03-16 12:22] pezholio commented on #552
Changing the order is proving to take quite a long time. I think the best plan is to let it run locally, and then restore to production from a dump of the postcodes collection.

[2015-03-17 08:35] giacecco commented on #564
None that we know. You can consider this task closed.

[2015-03-17 08:35] #564 closed

[2015-03-17 09:44] pezholio commented on #556
I know what we need to do with this now:

* First, add the iron_mq gem to https://github.com/OpenAddressesUK/morph-docker-ruby and upload the new image to Docker
* Update the Docker images on the live Chas instance
* Then, we can update https://github.com/OpenAddressesUK/chas/blob/master/utils/wrapper.rb to send each line to IronMQ, this is what runs in the Docker image (we can also limit draft ru

[2015-03-17 09:45] pezholio commented on #556
We can also clean loads of stuff up in https://github.com/OpenAddressesUK/chas/blob/master/lib/turbot_docker_runner.rb, and we don't need the https://github.com/OpenAddressesUK/chas/blob/master/lib/handler.rb anymore either.

[2015-03-17 09:52] pezholio commented on #552
I've updated the order locally overnight and have a dump of the postcodes collection, ready to restore. We'll then need to undo my quick fix commit here in Theodolite https://github.com/OpenAddressesUK/theodolite/commit/11d9bbcbbf1dedec6a12009ab6b9d89657e2afb6, as well as flipping the order of lat and lngsin Sorting Office.

I've also just noticed that streets are also affected, so we'll have to s

[2015-03-17 10:30] Floppy commented on #556
So the idea is we pass the IronMQ details into the docker runner, and it queues things directly, rather than all the external file-piping gubbins? How does that handle validation etc, and does it take us too far away from the OpenCorporates mainline?

[2015-03-17 10:33] pezholio commented on #556
https://github.com/OpenAddressesUK/chas/blob/master/utils/wrapper.rb still uses TurbotDockerRunner, it just the handler that's different, and this could potentially be configurable too.

[2015-03-17 11:01] Floppy commented on #556
We've dived into this and agree you look correct - there's more validation down there than we expected. Going to give it a go.

[2015-03-17 11:02] pezholio commented on #556
Schaweeeet! :+1:

[2015-03-17 11:06] pezholio commented on #552
Ah, also localities have the same problem. This, however, means that code changes will be minimal. All we need to do is flip the latlngs and undo the temporary fix and things should carry on working fine

[2015-03-17 11:25] giacecco commented on #503
Duplicate of #504

[2015-03-17 11:25] #503 closed

[2015-03-17 13:52] giacecco commented on #552
Waiting to hear back to @peterkwells in case he was demoing the services.

[2015-03-17 14:16] giacecco commented on #552
@pezholio Peter is fine, you can proceed.

[2015-03-17 14:33] Floppy commented on #556
OK, this is working in chas: https://github.com/OpenAddressesUK/chas/pull/5

[2015-03-17 14:34] Floppy commented on #556
We're putting that onto live, testing, and then we can clear up a lot of the higher-level turbot runner / handler stuff separately.

[2015-03-17 14:34] #557 closed

[2015-03-17 14:35] pezholio commented on #556
Boom, nice :+1:

[2015-03-17 14:54] Floppy opened #573 "Reschedule bots on error"
Bots that throw an error don't get rescheduled in turbot, though such errors are often transient. This shouldn't happen really, they should be scheduled to run again as normal.

[2015-03-17 14:58] Floppy commented on #556
And sorting machine is now re-enabled and running things in through it correctly.

[2015-03-17 14:58] Floppy commented on #556
This is all good. Well worked out, @pezholio :)

[2015-03-17 15:51] #556 closed

[2015-03-18 12:03] Floppy commented on #504
Currently working on the hello-kitty bot which will use jess to load inferred addresses into ernest. However, having an issue with the updated_since queries on theodolite as the index doesn't seem to be right.

[2015-03-19 08:29] giacecco commented on #504
@james, re: https://github.com/theodi/shared/issues/504#issuecomment-77171002 , I get your point, you are right.

Just to be safe on the semantics: do ernest URLs today represent addresses "as they were ingested" rather than "as they were distilled"?

For consistency, though, why don't I find a references to the ernest URL in the distilled URL's provenance? E.g. https://alpha.openaddressesuk.org/a

[2015-03-19 09:56] pezholio commented on #552
So, this is blocked due to https://github.com/mongoid/mongoid/issues/3998. I'm sure this is a bug, but I could be doing something wrong.

[2015-03-19 15:08] #527 closed

[2015-03-20 14:18] pezholio commented on #572
Duplicate of #551

[2015-03-20 14:18] #572 closed

[2015-03-23 13:24] pezholio commented on #551
This work is detailed in https://github.com/OpenAddressesUK/ernest/pull/32. Probably not *quite* ready to merge, but the work is done

[2015-03-23 14:15] Floppy opened #574 "UKAN dynamic badge generator"
A day's work, requested by @statshero, to do a sort of shields.io for UKAN training badge generation. Could potentially be pushed into the start of innovation week if someone fancied doing it there instead.

See https://docs.google.com/a/theodi.org/document/d/1c3ZboFFIaz7R38i6Ed3NuRvGgQXMf6Qf0haGW4qbtFk/edit for the details.

[2015-03-24 09:03] pezholio commented on #569
This is ready to go I reckon now

[2015-03-24 10:40] giacecco commented on #527
Hi @pezholio, by closing this do you mean that we've also completed successfully an ingestion of the latest CH data?

[2015-03-24 10:41] pezholio commented on #527
No, that job's in https://github.com/theodi/shared/issues/569

[2015-03-24 11:02] giacecco commented on #527
Sorry

[2015-03-24 11:03] giacecco commented on #569
Was the new CH ETL adapted to use https://github.com/theodi/shared/issues/551 ? If so, and https://github.com/theodi/shared/issues/551 is merged, what is stopping us from proceeding?

[2015-03-24 13:15] pezholio commented on #567
Just tried to run this in Heroku, and I'm getting the error `Error R14 (Memory quota exceeded)`. As we're only (potentially) running this once a month, is it worth switching to a PX dyno? This costs $0.80 per hour, although we get 46 hours for free.

[2015-03-24 13:20] giacecco commented on #567
I believe we should proceed unless there are obvious ways you can use to reduce memory usage. Have you got an idea of the time it's going to take, or how long it took the last time (if relevant, after the latest changes)?

@JeniT @peterkwells any objections?

[2015-03-24 13:22] pezholio commented on #567
I've split it up now, so we can run each part in parallel, but from memory, it took about a day, so if everything's running in parallel, I don't *think* we'll ever go over the free limit, but I can't say for sure

[2015-03-24 13:32] pezholio commented on #569
I've kicked off one of the bots now. Will see how it goes and kick the other ones off if that one runs cleanly

[2015-03-24 13:37] pezholio commented on #560
Thinking about this, in the spirit of 'many parts, loosely joined', we should only accept addresses in the format similar to the format we accept in Jess, i.e.

[code]

That way, people can use sorting-office to split addresses, and then 'pipe' the resulting data to this service to get the confidence.

[2015-03-24 13:38] pezholio commented on #560
Also, are we doing the heuristic adjustment here too?

[2015-03-24 13:50] giacecco commented on #560
The heuristic adjustment is an integral part of the confidence scoring, it is not an option.

If we wanted to be pedantic we may publish both the total score and its components (pre- and post-adjustment), but for the time being I would say that is overkill.

[2015-03-24 13:52] pezholio commented on #560
OK, so if a user doesn't provide a date, do we assume today's date?

[2015-03-24 14:04] giacecco commented on #560
I would say we use the moment of ingestion, it's all we got.

[2015-03-25 09:09] giacecco commented on #569
How did it go?

[2015-03-25 09:10] pezholio commented on #569
Failed after 4900 records. I'll have to check out what happened.

[2015-03-25 09:12] pezholio commented on #569
So, here's the error:

[code]

No idea what's happened there

[2015-03-25 09:12] giacecco opened #575 "Identify and implement solution for FTP/email ingestion"
One of OA's potential partners is willing to configure their software so that addresses are automatically submitted to OA, *using its pre-existing data export features* that can do only email and ftp. They don't plan to use our Turbot directly.

@jenit also suggested that in scenarios like this it could be useful that the workflow developed in two steps: a) contributors first publish the address d

[2015-03-25 09:30] giacecco opened #576 ""Confidential provenance" support"
The same user / organisation should be able to use different "entry points" for each API so that provenance is full or limited.

Blocked by #577.

[2015-03-25 09:30] giacecco opened #577 "API registration system"
Includes:
- the internals of the thingy (implementation of [https://github.com/plataformatec/devise](https://github.com/plataformatec/devise)? What does not come out of the box and needs being developed on purpose?)
- the "provisioning" APIs (create/change/delete user, create/change/delete key, usage reporting...)
- the section of the website where users register etc.

The specifications need to b

[2015-03-25 09:36] giacecco commented on #515
Removed from Tech Team's planning as this is being taken care of by Error.

[2015-03-25 09:36] #515 closed

[2015-03-25 09:50] pezholio commented on #567
Ran this yesterday, but it didn't upload because I had the wrong credentials. It took just over an hour though, and there's 8 separate tasks that should take the same time. If we run them every week (say, Sunday night), we should be comfortably within the free limit. Might be worth *not* running distillations on Sunday night, so we don't have any inconsistencies during the run.

[2015-03-25 10:00] giacecco commented on #567
That's very good news.

[I'm ok with weekly hippodamus runs](https://github.com/theodi/shared/issues/566) and assuring consistency by not running distillations while that happens. Is it safe enough to manage that based on time only, or we need to find a more robust way, e.g. for one process to know about the other?

If it takes so little time, it also allow us to be smarter with https://github.com

[2015-03-25 11:26] giacecco commented on #573
Pushed from sprint 43 back to backlog to think through. Focus should be on contributors first and internal OA users second: what would their experience be today? What tools are we offering them? Etc.

[2015-03-25 11:28] giacecco opened #578 "Move of website from alpha. to beta. / naked domain"
@peterkwells this is for you to think through before this goes into sprint planning I guess.

[2015-03-25 13:21] peterkwells commented on #578
I don't see any benefit to changing right now. Shifting to Beta is dependent on other items.

[2015-03-25 13:23] giacecco commented on #578
Very good. Marking this as blocked, waiting for better times.

[2015-03-25 13:30] giacecco opened #579 "API registration integration: Sorting Office"
Blocked by #577.

[2015-03-25 13:31] giacecco opened #580 "API registration integration: Jess (inference)"
Blocked by #577.

[2015-03-25 13:32] giacecco opened #581 "API registration integration: search"
Blocked by #577.

[2015-03-25 13:32] giacecco opened #582 "API registration integration: validation"
Blocked by #577.

[2015-03-25 13:33] giacecco opened #583 "API registration integration: confidence"
Blocked by #577 and #560.

[2015-03-25 13:39] giacecco opened #584 "Features addressing the rationale for the potential sponsorship coming"
Cannot name the sponsor (yet?). Awaiting confirmation of the sponsorship scope definition. Careful to any timing constraints.

[2015-03-25 13:56] giacecco opened #585 "API registration integration: OA website"
Move all website features that use OA's APIs to a "registered user".

Blocked by #577 and all the API's integration in the new registration system.

[2015-03-30 10:04] #551 closed

[2015-03-30 10:04] #563 closed

[2015-03-30 10:04] #519 closed

[2015-03-30 10:45] ldodds opened #586 "configure new domain name for odmat"
Can we please configure `pathway.theodi.org` to CNAME `odmat.herokuapp.com`.

Aiming to launch the alpha on Weds. If you let me know when its done, then I can sort out the Heroku bit.

[2015-03-30 10:53] Floppy commented on #574
I've just realised, reminded by Simon, that http://openbadges.org/ exists. We should use this.

[2015-03-30 10:55] pikesley commented on #586
Done (subject to propagation time)

[2015-03-30 11:09] pikesley commented on #586
It has propagated, you can add the virtualhost at the Heroku end

[2015-03-30 11:13] ldodds commented on #586
done, thanks.

[2015-03-30 11:13] #586 closed

[2015-03-30 13:35] pezholio commented on #567
I've kicked this off to do a test run. As we're running in parallel, it should take just over an hour. If all goes OK, I'll close this.

[2015-03-30 13:37] pezholio commented on #567
I've also set distiller to NOT run on a Monday morning

[2015-03-30 13:45] pezholio commented on #560
This is working, but mega slow at the mo. I'm working on ways of speeding this up, inamongst other things

[2015-03-30 13:48] Floppy commented on #561
@peterkwells can you update this to reflect what we actually want now?

[2015-03-30 14:12] pezholio commented on #567
Right, so we can't do this in parallel, as MongoLab craps out, so I've set each task to run on the hour from 12am to 7am, which should space things out. Scheduling a test run for tomorrow morning, will see how that pans out.

[2015-03-30 14:21] pezholio commented on #560
So, I'm adding a new column called `partial_label`, and adding the postcode sectors to that. This is proving to be MASSIVELY slow though, although the pain of creation may give big benefits. We shall see...

[2015-03-30 14:28] peterkwells commented on #561
We need to have a route to determine confidence via each means of service (API, bulk, URI)

API - A confidence-as-a-microservice API that can be called standalone or, say, be chained together  subsequent to a Sorting Office call that creates a structured address out of free-format, etcetera.
Downloads - already in https://github.com/theodi/shared/issues/562
URIs - confidence available via JSON

Do

[2015-03-30 14:58] langphil opened #587 "Node types in Publisher"
Hi @Floppy @pezholio @sumikasan

This request is from the services team and is part of the Node relaunch:
At the moment Nodes can be created as one of the three in Publisher;

* City
* Country
* Comms

I am looking to make additions to these as follows;

* Learning
* Network
* Network & Learning

[2015-03-30 15:06] pikesley opened #588 "client-side redirect"
to intercept opendatainstitute.org in lieu of getting control of that domain

[2015-03-31 08:48] pezholio commented on #566
OK, so I've run this again overnight and it seemed to work. I forgot to add "split" and "single" to the files though, so have set another run for tonight.

[2015-03-31 08:49] pezholio commented on #569
This is still crapping out. Same issue. I'm going to schedule another run and keep watching it. It's very strange.

[2015-03-31 08:50] statshero commented on #574
Sounds good to me.

[2015-03-31 08:52] pezholio commented on #569
Actually, this seemed like a different error now, but still http related:

[code]

I should be catching any errors and retrying, see https://github.com/OpenAddressesUK/companies_house/blob/master/companies_house.rb#L123. Am I missing anything?

[2015-03-31 08:53] pezholio commented on #567
Closing this. See #566 for progress

[2015-03-31 08:53] #567 closed

[2015-03-31 09:26] Floppy commented on #335
I think we want to use OpenBadges for this.

[2015-03-31 09:26] #335 closed

[2015-03-31 09:27] Floppy commented on #574
@pezholio @pikesley we need to work out whether we could do an openbadges integration in the day's work that Ulrich has available for this. I hope it's easy, but I've never looked at it. If you get a spare minute between things, and fancy taking a look at how it works, feel free.

[2015-03-31 09:28] Floppy opened #589 "Review website tagging work"
Review @simonv3's work in various PRs:

* [x] https://github.com/theodi/frontend-www/pull/368
* [x] https://github.com/theodi/content_api/pull/122
* [x] https://github.com/theodi/static/pull/105
* [x] https://github.com/theodi/signonotron2/pull/38
* [x] https://github.com/theodi/publisher/pull/132

@simonv3's comments:

[2015-03-31 09:36] pezholio commented on #504
What's the blocker on this?

[2015-03-31 11:24] langphil opened #590 "Modules on certain pages are broken"
Related items on certain pages are not generating correctly. They are attempting to generate as news modules and are throwing in /news into the URL that is meant to be accessed.

For instance

* Assign theodi.org/jobs as a related item for a page
* Module generates on the page in the aside.
* When clicked the URL theodi.og/news/jobs is accessed

I'd view this as a high priority issue as we now can

[2015-04-01 08:28] pezholio commented on #566
Sigh. Some worked. Others didn't. No idea why.

[2015-04-01 08:42] pezholio commented on #566
Hm. Looking in more detail, it seems that some of the processes are running out of memory. Really need to figure out a more performant way of doing exports. Mongodump would be ideal, but I think the transformations we want to do are a bit more complex than mongodump allows.

[2015-04-01 10:53] Floppy commented on #566
Are they ways we can do this in more of a stream style, so we don't load so much in at once.

[2015-04-01 11:55] simonv3 commented on #589
Hey @Floppy let me know if I can help somehow.

[2015-04-01 12:13] langphil opened #591 "Archived future courses on the upcoming page are not disappearing"
I'd like items that have been archived in Panoticon to no longer be present on [theodi.org/events](theodi.org/events)

[2015-04-01 13:13] langphil commented on #590
Here is an example of an artefact that is currently in the publishing phase.

http://theodi.org/guides/prioritise-open-data-to-drive-global-development?utf8=%E2%9C%93&cache=1427892410&edition=1&commit=Preview

NB. This may go live at some point today. If this is the case I'll exchange the related items for external related items, which are working fine.

[2015-04-01 13:24] Floppy commented on #589
@simonv3 @langphil: This is all working great: http://theodi.org/blog/data-revolution-addis-ababa-high-level-conference and http://theodi.org/tags/addis-ababa

[2015-04-01 13:34] Floppy commented on #590
@langphil I have a theory - does this seem to happen for related items that are just plain pages, not a type like guide, or news, or event? I note on the example above, the things that are guides or news are right, it's just the generic pages that are wrong. The jobs example would be the same. Thoughts?

[2015-04-01 13:36] langphil commented on #590
@Floppy Yes, this rings true from what I've been experiencing.

Single page artefacts do seem to be the items that are being affected.

[2015-04-01 14:56] pezholio commented on #574
Looking at http://achievery.com/ - have emailed @statshero with the details, then we can look at some deeper integration later

[2015-04-01 15:17] Floppy commented on #590
@langphil I've found the problem and fixed it I think. Should be going live in a few minutes.

[2015-04-01 15:18] langphil commented on #590
Thank you @floppy. This is great!

[2015-04-01 15:32] pezholio commented on #561
I'm happy about point 1) and point 3), but having the confidence in downloads worries me a bit. It's already quite a drain on performance at the mo, and even if we improve it considerably, creating confidence for every single address is going to take quite some time.

[2015-04-01 15:37] pezholio commented on #552
Running this against the live DB now. Works fine in dev :+1:

[2015-04-01 15:37] Floppy commented on #552
:shipit:

[2015-04-01 15:49] Floppy commented on #588
Done in https://github.com/theodi/frontend-www/pull/370

[2015-04-01 16:04] Floppy commented on #590
@langphil that preview link above now looks right. If you're still seeing the broken version, change the cache number in the URL to bust the cached copy in your browser.

[2015-04-01 16:04] #590 closed

[2015-04-02 11:34] peterkwells commented on #561
Gotcha. What I'm concerned about is creating a difference between the data that bulk download users can get, as compared to data that API users can get.

It doesn't all need doing at the same time so I'm happy to split "confidence in downloads" into a separate roadmap issue for prioritisation at another time.

Shall I do that?

[2015-04-07 09:28] Floppy commented on #552
Address.first and Address.lat now have correct lat/longs in postcodes, so i'm calling this done.

[2015-04-07 09:28] #552 closed

[2015-04-07 09:29] Floppy commented on #588
Won't work, reverted. We will get control of the domain instead.

[2015-04-07 09:29] #588 closed

[2015-04-07 09:42] #589 closed

[2015-04-07 11:16] Floppy commented on #566
We updated this to stream-style on Thursday, so we should be OK now. Just checking the outputs to make sure it worked.

[2015-04-07 11:16] Floppy commented on #566
Actually, it's not merged yet and is in https://github.com/OpenAddressesUK/hippodamus/pull/13

[2015-04-07 14:24] Floppy commented on #566
Merged and testing with a full run.

[2015-04-07 14:46] Floppy commented on #568
Done in https://github.com/OpenAddressesUK/theodolite/pull/173

[2015-04-07 15:00] #568 closed

[2015-04-07 15:33] Floppy commented on #569
@pikesley just realised I'm not an admin on turbot, so I can't see what state this is in. Can you check it out and see how it is?

[2015-04-08 13:59] Floppy commented on #504
As far as I can tell, the hello-kitty bot is ready to roll. Just need to let it run.

[2015-04-09 08:27] Floppy commented on #566
This worked.

[2015-04-09 08:28] #566 closed

[2015-04-09 08:29] Floppy commented on #566
The scheduler is updated, so this should happen on a weekly basis now automagically. Yay!

[2015-04-14 14:20] pikesley commented on #569
![screenshot 2015-04-14 15 18 43](https://cloud.githubusercontent.com/assets/885973/7138678/c201a97e-e2b9-11e4-987b-475f8cc1d20e.png)

AMAZE

[2015-04-15 08:42] pikesley commented on #569
![screenshot 2015-04-15 09 42 05](https://cloud.githubusercontent.com/assets/885973/7155082/babb6a84-e353-11e4-990c-e377996e4db4.png)

Day 2, and it's still pumping (I think _4 may have actually completed)

[2015-04-15 08:44] Floppy commented on #569
impressive...

[2015-04-15 09:18] Floppy opened #592 "Googledocs API update"
Need to update from docs API to drive API. Details in emails. This is for odi-metrics-tasks, I think.

[2015-04-15 09:40] Floppy opened #593 "Fix OA maps"

[2015-04-15 09:50] #504 closed

[2015-04-15 09:50] Floppy opened #594 "Check inference output"
Follow up results of #565 and make sure inferred addresses are appearing in the published data

[2015-04-15 09:53] Floppy opened #595 "Investigate API management services"

[2015-04-15 09:54] Floppy opened #596 "API monitoring"
Might be easier if we can use a separate service under #595

[2015-04-15 09:55] peterkwells commented on #595
Some prior thinking on *theoretical* analytics here. Food for thought, not requirements: https://docs.google.com/a/openaddress.es/spreadsheets/d/1n72XC125FB51oXyvrowaY6pmUJJdT1dokQ1dRWmJ9GU/edit#gid=0

[2015-04-15 09:59] Floppy opened #597 "Spin up metrics API for OA"

[2015-04-15 09:59] Floppy opened #598 "Send data to metrics API"
Depends on #597

[2015-04-15 10:01] #516 closed

[2015-04-15 10:01] #517 closed

[2015-04-15 10:04] Floppy commented on #571
Pull data out of metrics API (#598) and display somewhere useful.

[2015-04-15 10:07] Floppy opened #599 "Website fixes post tagging work"
* [x] https://github.com/theodi/panopticon/issues/113
* [x] https://github.com/theodi/publisher/issues/133
* [x] https://github.com/theodi/panopticon/issues/114
* [x] https://github.com/theodi/publisher/issues/134
* [x] https://github.com/theodi/panopticon/issues/115
* [x] https://github.com/theodi/publisher/issues/135
* [ ] https://github.com/theodi/panopticon/issues/116

[2015-04-15 10:08] Floppy commented on #574
Achievery has shut down, we can probably find an alternative.

[2015-04-15 10:12] Floppy commented on #595
https://apigee.com ?

[2015-04-15 10:44] pezholio commented on #592
https://github.com/gimite/google-drive-ruby/issues/128 suggests that it will work. However, we are still authenticating using `GoogleDrive.login`, which will be going away soon.

[2015-04-15 10:50] pezholio commented on #592
Oh wait, we're using our own branch aren't we? Will need to get that up to date and see if everything still works

[2015-04-15 10:52] peterkwells commented on #598
Data to be in metrics API. Do these make sense technically?

Raw addresses (ie how many address records we've ingested)
Distilled addresses (ie how many post-distilling and de-duping)
Inferred addresses (ie how many we infer with maths)
Total addresses (ie what the published total is, this will be the sum of the above two)

All available both overall and by local authority

[2015-04-15 10:52] Floppy commented on #592
We are, yes. Needs bringing up to date anyway, so it's a good excuse. We have our own branch because they rejected our addition of range queries for spreadsheets.

[2015-04-15 14:47] pezholio commented on #592
This is a massive PITA. Context switching to something else as I've spent most of the day on just trying to log in. Put a question on Stack Overflow for all the good it'll do http://stackoverflow.com/questions/29653190/google-drive-ruby-accessing-files-via-a-service-account

[2015-04-15 14:57] pezholio commented on #569
(╯°□°）╯︵ ┻━┻

[code]

[2015-04-15 14:59] Floppy commented on #569
Could it have filled the IronMQ queue?

[2015-04-15 15:00] Floppy commented on #569
There is a maximum queue size on our account...

[2015-04-15 15:04] pezholio commented on #569
Limit is 10m per month, so I don't think it's that

[2015-04-15 15:09] Floppy commented on #569
we've run a few though... which failed, but... worth checking.

[2015-04-15 15:21] pezholio commented on #569
Yeah, we don't seem to be anywhere near the limit. Also tried manually pushing some up and it worked without complaint.

Dunno if we need to put some logic [here](https://github.com/OpenAddressesUK/chas/blob/master/utils/wrapper.rb#L31) to guard against any short outages

[2015-04-15 15:22] Floppy commented on #569
That's good. Best to be defensive, yes.

[2015-04-15 16:18] pezholio commented on #569
Right. This is done now, and chugging away happily

[2015-04-16 10:00] pezholio commented on #595
This looks like the one. I've set up a proxy for sorting office at http://openaddresses-test.apigee.net/sorting-office/ and sent a couple of requests to it. It might take up to an hour for stats to start appearing, so will check back in a bit

[2015-04-17 09:16] Floppy commented on #596
Moving this to done as apigee will do it for us.

[2015-04-17 10:30] Floppy opened #600 "Update elasticsearch"

[2015-04-17 10:31] Floppy commented on #600
Rummager needs an old elasticsearch  which is being deprecated by Found. We need to update this.

[2015-04-17 11:33] pezholio commented on #593
I've added the alpha. host to Openspace (originally only the bare domain was there), but the tiles are still returning `HTTP Referrer not valid`. I've asked OS on Twitter, but I suspect there might be a delay in any changes being reflected (maybe)

[2015-04-17 12:37] #592 closed

[2015-04-17 13:51] pikesley commented on #569
Bot _3 blew up

    /usr/local/rvm/rubies/ruby-1.9.3-p545/lib/ruby/1.9.1/csv.rb:1894:in `block (2 levels) in shift': Missing or stray quote in line 745250 (CSV::MalformedCSVError)

and now I hate everything

[2015-04-17 15:16] pezholio commented on #597
Up and running at https://oa-metrics-api.herokuapp.com

[2015-04-17 15:18] #597 closed

[2015-04-17 18:45] #593 closed

[2015-04-17 18:45] #595 closed

[2015-04-17 18:46] Floppy commented on #574
This is sitting with @statshero to decide what we want to do. Might be worth @pezholio having a chat with him to discuss some of the other options he came across?

[2015-04-18 10:35] pezholio commented on #574
:+1:

[2015-04-22 15:10] #598 closed

[2015-04-22 15:10] pezholio commented on #596
We're not using Apigee for this now for lots and lots of reasons. Mainly because the API is shonky

[2015-04-22 15:11] pezholio commented on #596
Now using Google Analytics via https://github.com/OpenAddressesUK/angerfist, but now we need to actually get the stats out, which may be tricky, because Google APIs

[2015-04-24 08:08] pezholio commented on #569
BOOM! It WORKED! http://turbot.openaddressesuk.org/admin/bots/companies_house_3

[2015-04-24 08:08] #569 closed

[2015-04-24 16:35] pezholio commented on #596
We're now tracking Theodolite and Sorting Office. And adding more monitoring is pretty trivial now

[2015-04-24 16:35] #596 closed

[2015-04-24 16:37] pezholio commented on #594
We got one clean run of Hello Kitty, and the addresses are waiting in the queue to be processed. May take some time though, but should be good

[2015-04-28 13:34] langphil opened #601 "Team page (theodi.org)"
**Issue:**
The [theodi.org/team](theodi.org/team) has become out of date with the developing structure of the organisation.

We currently only have a limited types of teams available that are not reflective of the current structure, with no easy way for us as users to create or assign new team types.

**Existing team types**
![screen shot 2015-04-28 at 14 26 20](https://cloud.githubusercontent.com

[2015-05-05 08:39] pezholio opened #602 "Add URPNs to the Open Addresses data models"

[2015-05-05 08:40] pezholio opened #603 "Add ways for users to add / suggest UPRNs to existing addresses"
Probably via Turbot

[2015-05-05 08:40] pezholio opened #604 "Add search by UPRN functionality"

[2015-05-05 08:43] pezholio opened #605 "Add registration and API key functionality to services"
* [ ] Sorting Office
* [ ] Theodolite
* [ ] Jess
* [ ] Ernest confidence module

[2015-05-05 08:50] pezholio opened #606 "Support 'confidential provenance'"
See https://github.com/OpenAddressesUK/roadmap/issues/60

This basically means so provenance can be tied to API keys, but only administrators can see it.

[2015-05-05 08:53] pezholio opened #607 "OS Open Data"
See https://github.com/OpenAddressesUK/roadmap/issues/105

Review the work @murraydata has done, and examine the feasibility of including the new data in OpenAddresses

[2015-05-05 09:24] pezholio commented on #602
- [ ] Turbot
- [ ] Ernest
- [ ] Theodolite

[2015-05-05 09:29] pezholio commented on #560
It's there, but it's slow. Going to close this for now

[2015-05-05 09:29] #560 closed

[2015-05-05 15:02] #602 closed

[2015-05-05 15:17] pezholio commented on #603
We have this in a PR now (https://github.com/OpenAddressesUK/distiller/pull/14) - we assume that UPRNs will be added in the usual way via Turbot. When added via Distiller, if an address already exists, we load that existing address, add the UPRN and update the provenance appropriately.

[2015-05-06 08:57] pezholio commented on #603
Thinking about this, I think we also need to cater for the circumstances when the rights for the UPRN are clear, but the address data itself may be fuzzy. Could we ask ETL writers to use the Open Addresses API to search for an address and, if we already have the address, submit the URI for the address, together with a URPN like so:

[code]

@jenit, @peterkwells - What do you think?

[2015-05-06 09:17] JeniT commented on #603
I think it's useful to be able to submit a known URL for an address to add information to it, but I don't think this is necessary functionality. So low priority if there are other things to get complete.

[2015-05-06 09:20] pezholio commented on #603
Ah, OK. I'll consider this done and add a low priority story. This was nowhere near 5 points, so we've got a bit of wriggle room.

[2015-05-06 09:21] pezholio commented on #603
I'll wait for the current distil to finish and get feedback from @peterkwells before merging the PR and closing

[2015-05-06 09:24] pezholio opened #608 "Allow users to add UPRNs against URIs"
See https://github.com/theodi/shared/issues/603#issuecomment-99388705

[2015-05-06 09:26] pezholio commented on #594
Waiting for the current distil to finish, then we should be able to close this

[2015-05-06 09:27] pezholio commented on #565
Waiting for the current distil to finish, then we should be able to get a nice clear run at this

[2015-05-06 09:44] pezholio commented on #594
Whoop! We have distilled datas! Example here:

https://alpha.openaddressesuk.org/addresses/aDEWQ6

[2015-05-06 09:45] #594 closed

[2015-05-07 08:07] pezholio commented on #565
Kicked this off now. It's running as we speak

[2015-05-07 12:30] pezholio commented on #571
PR is here, ready for merge when you're ready @peterkwells https://github.com/OpenAddressesUK/theodolite/pull/196

[2015-05-07 13:13] peterkwells commented on #571
Those numbers don't seem to make sense. We had c. 1m addresses and were due to infer 2-4m or so. Talk through in standup in the morning?

[2015-05-07 13:15] pezholio commented on #571
We haven't inferred against the full dataset yet. That's happening as we speak :)

[2015-05-07 13:15] peterkwells commented on #571
Ah, that's the whirring noise I can hear from the clouds overhead....

But the 1.9m?

[2015-05-07 13:20] pezholio commented on #571
We picked up an extra 100,000 or so from the second Companies House ingest

[2015-05-08 11:57] pezholio opened #609 "Add Error's embeddable address code to Theodolite"
http://clients.errorstudio.co.uk/oa/

[2015-05-11 10:42] pezholio commented on #605
Sticking this in the backlog for now

[2015-05-12 09:24] Floppy commented on #574
@statshero what's the state of this? I assume the deadline has whoosed by and we don't need to do it any more?

[2015-05-12 09:33] statshero commented on #574
not for UKAN except if you have something shiny you can create in half a day.

[2015-05-12 09:33] statshero commented on #574
Simon may still care though.

[2015-05-12 09:42] Floppy commented on #574
Yeah, we'll park it for now though. UKAN thing done. Or not done. Over, anyway. Thanks.

[2015-05-12 09:42] #574 closed

[2015-05-12 10:04] Floppy commented on #565
Is this still running?

[2015-05-12 10:04] pezholio commented on #565
Yeah. Had to kick it off again as it crapped out though :/

[2015-05-12 10:05] Floppy commented on #565
booo

[2015-05-13 11:08] #571 closed

[2015-05-13 12:03] Floppy commented on #604
Got stuck on the UI because all the dropdowns are broken and I didn't manage to debug why. Interviewing now, so this is parked. Not done anything worth committing yet.

[2015-05-13 12:35] pezholio commented on #608
Last piece of the puzzle is ready for merge here https://github.com/OpenAddressesUK/distiller/pull/17. I'll see if I can write a blog post / proof of concept this afternoon

[2015-05-15 09:12] #608 closed

[2015-05-15 09:14] #603 closed

[2015-05-15 11:16] pezholio commented on #604
This is on it's way down and ready to be deployed. We don't have any UPRNs, but this will work for now

[2015-05-15 11:18] pezholio commented on #565
Hello Kitty has been running for three days now without a crap out. Got about 800,000 addresses going through distiller at the mo, and about 2 million in the queue ready to be processed by Ernest. I think we can call this a win

[2015-05-15 13:08] ldodds opened #610 "Course page won't load under https"
* Google for "ODI courses"
* Follow link to, e.g. https://theodi.org/courses/open-data-day. You're then on the ODI site under https
* Click on "Courses" under "What we offer"
* The course page doesn't load.

The issue seems to be the https page referring to http resources. Chrome console has lots of https/http related warnings plus two errors:

[code]

and

[code]

Probably some CORS headers missi

[2015-05-18 11:57] langphil commented on #601
@floppy raising this for internal sprint

[2015-05-18 11:57] langphil commented on #599
@floppy raising the completion of this for internal sprint

[2015-05-18 12:02] langphil opened #611 "Startups: updates"
Internal sprint request for the startup pages. This is a high priority request. The official startup programme launch is Tuesday 18/5.

We currently have a single startups page -  http://theodi.org/start-ups

I'd like to achieve the following.
1) Remove the listing of startups in the already existing page. (/startups)
2) Create a new page that o
nly lists the existing startups. (start-ups/current)

[2015-05-18 12:06] Floppy opened #612 "Remove Varnish from website"

[2015-05-18 12:08] pezholio commented on #612
:bomb:

[2015-05-18 12:09] Floppy opened #613 "Elasticsearch upgrade 0.19 -> 1.4"
Found are deprecating old elasticsearch versions, and our "rummager" search client is using 0.19. Needs to be brought up to using the 1.4 API.

[2015-05-18 12:19] Floppy opened #614 "Transfer ODI domains from DomainMonster to Gandi"

[2015-05-18 12:26] Floppy opened #615 "Swirrl / DaPaaS meeting"

[2015-05-18 12:26] Floppy commented on #615
26th May: couple of hours (1-3pm) for tech team to attend meeting with Swirrl to talk about DaPaaS / CSVLint/ODC integration with Grafter

[2015-05-18 12:27] Floppy opened #616 "tweaks to the DaPaaS website"
Ideally 26/28 may. Half a day.

[2015-05-18 12:28] Floppy opened #617 "Events page"
From @langphil: upcoming events overview. I've made http://theodi.org/event?edition=1&cache=1431941115 and would just like help fixing it. :) Give it time to load.

[2015-05-18 12:28] Floppy opened #618 "Content.API and Jquery"
From @langphil: It's extremely slow to load and generate on pages, can we discuss this? Is there anyway of speeding things up significantly?

[2015-05-18 12:28] Floppy opened #619 "Discuss migration to Wordpress"

[2015-05-18 12:29] Floppy opened #620 "Improvements to membership process"
Full details in https://docs.google.com/document/d/1hSK2vY7S5aQ6LE8LpO7-_gA4GclAEbao0GWU8TuHaKM/edit; needs breaking down

[2015-05-18 12:40] #604 closed

[2015-05-18 13:00] pezholio commented on #565
This is still running, and probably will for a while, so closing

[2015-05-18 13:00] #565 closed

[2015-05-18 13:04] Floppy opened #621 "2015 Dashboards"

[2015-05-18 13:11] JeniT commented on #606
Closing for now, until we review & progress Open Addresses roadmap.

[2015-05-18 13:11] #606 closed

[2015-05-18 13:12] #609 closed

[2015-05-18 13:12] Floppy opened #622 "Get ODC infrastructure into test-kitchen"

[2015-05-18 13:13] JeniT commented on #607
Closing until Open Addresses roadmap is revisited.

[2015-05-18 13:13] #607 closed

[2015-05-18 13:15] #484 closed

[2015-05-18 13:15] #528 closed

[2015-05-18 13:15] #537 closed

[2015-05-18 13:15] #538 closed

[2015-05-18 13:15] #543 closed

[2015-05-18 13:15] #544 closed

[2015-05-18 13:15] #561 closed

[2015-05-18 13:15] #562 closed

[2015-05-18 13:15] #573 closed

[2015-05-18 13:15] #575 closed

[2015-05-18 13:15] #576 closed

[2015-05-18 13:15] #577 closed

[2015-05-18 13:15] #578 closed

[2015-05-18 13:15] #579 closed

[2015-05-18 13:15] #580 closed

[2015-05-18 13:15] #581 closed

[2015-05-18 13:15] #582 closed

[2015-05-18 13:15] #583 closed

[2015-05-18 13:15] #584 closed

[2015-05-18 13:15] #585 closed

[2015-05-18 13:15] #605 closed

[2015-05-18 13:15] Floppy opened #623 "Quick-fix Juvia embed in ODCs"
Might be possible with protocol-independent URLs for Juvia javascript. Could require HTTPS support though.

[2015-05-18 13:26] JeniT commented on #620
Timebox until end of first week, including breaking down & estimating the tasks.

[2015-05-18 13:31] Floppy opened #624 "Investigate Elasticsearch deprecation"

[2015-05-18 13:35] Floppy commented on #612
Investigate the possibilities for removing it.

[2015-05-18 13:36] #473 closed

[2015-05-18 13:36] #550 closed

[2015-05-18 13:37] #600 closed

[2015-05-18 13:37] #541 closed

[2015-05-18 13:38] #518 closed

[2015-05-18 13:43] Floppy commented on #618
We will get Simon or someone to work on replacing the JS-driven pages with server-side pages, as having content loaded in JS is terrible for accessibility, searchability, etc.

[2015-05-18 13:44] Floppy commented on #618
Will change #617 to make this unnecessary.

[2015-05-18 13:44] #618 closed

[2015-05-18 13:45] JeniT commented on #621
Maybe include #464

[2015-05-18 13:45] Floppy commented on #617
We would like someone to turn this into a server-side page, for better searchability, accessibility and so on.

[2015-05-18 13:46] Floppy commented on #601
/me waves magic outsourcing wand

[2015-05-18 13:47] Floppy commented on #611
More outsourcing

[2015-05-18 13:47] langphil commented on #617
Entirely agree with your thoughts on things being server side. Thank you,
@floppy

—
*Phil Lang - Digital Production Editor*
@ODIHQ <https://twitter.com/ODIHQ> | thodi.org
@langphil <https://twitter.com/langphil> | *0741 44 63047*

On 18 May 2015 at 14:45, James Smith <notifications@github.com> wrote:

[2015-05-18 14:03] pezholio opened #625 "Improve user signin process"
Users unable to complete registration if they spend a long time between registering and paying.
Member Directory flaw that once a new member’s email/organisation is saved in the first registration page (after clicking ‘Become a Member’) it is stored in the Directory.

If the member does not complete registration (and pay) at that time they will find that when they come back to sign up again at a l

[2015-05-18 14:05] pezholio opened #626 "Allow users to sign in with email, rather than user ID"
It’s confusing for members to have to sign in using a member ID rather than their email address.

[2015-05-18 14:08] pezholio opened #627 "Send signup details straight to Capsule"
Also, first and last names are getting mangled

[2015-05-18 14:16] Floppy commented on #621
Being done by @andylolz, me to support.

[2015-05-18 14:17] Floppy commented on #614
@pikesley I nearly completed this, but then Gandi's website stopped responding. It doesn't look like the orders are in progress, so we can safely restart the process.

[2015-05-18 14:28] pezholio commented on #623
We have a fix in the repo, but I'm not sure if our Juvia instance is CI'ed properly

[2015-05-18 14:44] pezholio commented on #623
This worked.

[2015-05-18 14:48] Floppy commented on #623
zomg

[2015-05-18 14:55] pezholio commented on #627
So, currently the situation goes like this:

* User signs up
* User details are sent to Chargify
* User details are sent to Xero (via [SignupProcessor](https://github.com/theodi/open-orgn-services/blob/047dff4454f20105341187577665b64565473d33/lib/signup/signup_processor.rb))
* We rely on third party Capsule / Xero sync to add the member to Capsule
* A job is queued to add details to Capsule (https

[2015-05-18 14:57] pkqk commented on #627
@pezholio yep. I would cut out the entire Xero step. There is enough info from the Chargify signup to populate Capsule.

As long as if necessary the Xero integration can also happen.

[2015-05-18 15:23] Floppy commented on #627
We'd just need to be sure that Xero will still make the link to the capsule data. I think it will, but I'm not 100%. It's flaky as hell though anyway, as it assumes things like UNIQUE NAMES. (sigh)

[2015-05-18 16:01] pezholio commented on #627
Do we even need to make the link between Xero and Capsule, as we're using Chargify now?

[2015-05-18 16:02] Floppy commented on #627
Mm, I don't know what Chargify does, but I know that link allows people to see unpaid invoices in Capsule... I'm not sure. @greenreveller might know best.

[2015-05-18 16:11] pkqk commented on #627
There should be no "unpaid" from chargify as it's :credit_card: only

[2015-05-18 16:49] JeniT commented on #627
Please check with finance (Alison) about whether they need to see information about the paid invoices in Xero. They might need something like that for tracking purposes.

[2015-05-18 16:50] Floppy commented on #627
Good plan; @alisonwalters, any thoughts?

[2015-05-19 08:35] pezholio commented on #627
We can probably keep this in and remove the Capsule / Xero integration anyway if it causes any problems. The issue seems to be that the integration isn't working properly, and email addresses aren't getting copied over to Capsule.

[2015-05-19 10:20] langphil opened #628 "Startups page"
I was wondering if there is any chance that the aside could be turned on for related items on (/start-ups)?

[Link](http://www.theodi.org/start-ups)
This is being requested as the page needs to go live for the launch of the new startups.

@floppy @pezholio

[2015-05-19 10:23] Floppy commented on #628
aside as in related articles? That shouldn't take but a moment now. Sorry we have to do it time and again, the codebase has far too much repetition in it :(

[2015-05-19 10:24] langphil commented on #628
Yes, aside as in related articles.

Thanks @floppy.

That's OK, no worries.

[2015-05-19 10:25] Floppy commented on #628
Should be able to do it after this meeting, unless @pezholio gets there before me. It's pretty much just a partial include these days.

[2015-05-19 10:26] langphil commented on #628
Happy to be shown how this is achieved, if it makes sense.

—
*Phil Lang - Digital Production Editor*
@ODIHQ <https://twitter.com/ODIHQ> | thodi.org
@langphil <https://twitter.com/langphil> | *0741 44 63047*

On 19 May 2015 at 11:25, James Smith <notifications@github.com> wrote:

[2015-05-19 10:27] Floppy commented on #628
Nah, it's best if we do it so we can check it locally first. Could introduce errors, so you'd need a running local system. Shouldn't take a minute or two.

[2015-05-19 11:26] pezholio commented on #627
Right, so, the issue we have is that some contacts exist already in Capsule - if they sign up with a different email (i.e. we've contacted them via their work email, and they sign up with their personal email) then the link is created against that contact in Capsule, and when SignupProcesser runs, they never get found in Capsule because we key on email.

There are therefore a few options here:

*

[2015-05-19 11:28] alisonwalters commented on #627
Hi,
Sorry I'm working on some urgent finance deadlines just given to me by
Louise. I will anseer as soon as I can

Ali

On 19 May 2015 at 12:26, pezholio <notifications@github.com> wrote:

[2015-05-19 12:13] pezholio commented on #627
Hey Alison, I think we're going to keep the Xero situation as it is for now :smile:

[2015-05-19 12:22] langphil commented on #628
Just checking the status of this.

[2015-05-19 14:23] #626 closed

[2015-05-19 14:24] Floppy commented on #619
@langphil can we have a chat about this sometime tomorrow or Thursday when convenient for you? Doesn't need long.

[2015-05-19 14:33] langphil commented on #619
I'll find time in the calendar

—
*Phil Lang - Digital Production Editor*
@ODIHQ <https://twitter.com/ODIHQ> | thodi.org
@langphil <https://twitter.com/langphil> | *0741 44 63047*

On 19 May 2015 at 15:24, James Smith <notifications@github.com> wrote:

[2015-05-19 15:00] Floppy commented on #611
Related items addition is done.

[2015-05-19 15:10] Floppy commented on #613
Found are deprecating everything below 1.4. Annoyingly, upstream rummager is updated from what we we are on (0.19) to 0.90, but not to 1.4. So, there is some work to do.

[2015-05-19 15:15] Floppy commented on #613
See https://found.no/deprecation/

[2015-05-19 15:23] Floppy commented on #613
Oh, god, rummager has its own rolled-in elasticsearch client.

[2015-05-19 15:24] Floppy commented on #613
There are a lot of breaking changes in elasticsearch 1.0.0: https://www.found.no/foundation/elasticsearch-upgrade-guide/#breaking-changes

[2015-05-19 15:24] pezholio commented on #613
:sob:

[2015-05-19 15:26] Floppy commented on #613
We have until 1st July to get this done. We'll find someone to do it for us who knows elasticsearch.

[2015-05-19 15:28] Floppy commented on #613
Jobs to do:

* [ ] Review and merge https://github.com/theodi/rummager/pull/10 to bring us up to date with alphagov and elasticsearch 0.90.
* [ ] Upgrade the code (probably mostly the client code under https://github.com/theodi/rummager/tree/master/lib/elasticsearch) to support elasticsearch 1.4
* [ ]  Contribute the upgraded code back to alphagov.

[2015-05-19 15:29] Floppy commented on #613
We need to find someone with Elasticsearch and Ruby experience to do this efficiently. If you're looking at this and that sounds like you, contact james.smith@theodi.org.

[2015-05-19 15:49] Floppy commented on #613
BREAKING: the rummager readme is out of date and they recently upgraded to 1.4: https://twitter.com/rjw1/status/600686977327996928

[2015-05-19 15:52] Floppy commented on #613
This is very good news. It means we can come up to date with rummager and then we should be OK to change over. We can throw away the existing indexes without any problem, I think, so we can just make a new 1.4 DB and bin the old one.

[2015-05-19 15:53] ajlanghorn commented on #613
Hello! I did the upgrade on the search stack from 0.9 to 1.4. Let me know if you have any queries.

[2015-05-19 15:56] ajlanghorn commented on #613
Although since you've already found bob and Richard, I might not be.

[2015-05-19 15:57] alext commented on #613
Part of the work involved in upgrading to ES 1.x involved reworking how the schemas were defined, specifically, we now have to record whether fields are multi-valued or not due to a change in the ES API.  See alphagov/rummager#369 for details of this.

[2015-05-19 16:07] Floppy commented on #613
Hi @ajlanghorn - thanks for getting in touch! I suspect we'll be able to handle it ourselves by merging from your upstream repo, but if we have any issues, we'll give you guys a ping. Thanks :)

[2015-05-19 16:08] Floppy commented on #613
As this is a merge job now that I'm sure we can handle ourselves, and we have a month to do it, I'm moving it to lowest priority.

[2015-05-19 16:09] Floppy commented on #613
It could move out of this sprint if other things are more important.

[2015-05-19 16:10] Floppy commented on #613
@alext ah, interesting, I guess we'll need to do the same. Thanks for the pointer :)

[2015-05-19 16:32] rboulton commented on #613
Also of note - until very recently (perhaps a week ago), rummager was working fine on both elasticsearch 0.90 and 1.x.  We've recently started making use of features which don't exist in 0.90 (mostly in our schema definition layer so far), so I'm pretty sure it will no longer work with 0.90.  You may want to take this into account when upgrading, or may be fine to just jump all the way.

If you ha

[2015-05-20 08:40] pikesley commented on #613
If you're at OpenTech, be sure we will track you down in order to buy you beer

[2015-05-20 13:35] pezholio commented on #627
Tagging @greenreveller in this conversation

[2015-05-20 15:12] greenreveller commented on #627
As discussed, I'm for the second option (e.g. doing away with auto integration and creating our own system) as it will also solve the 'convert to person' problem with individual Supporters. Aware that this may mean needing to merge capsule entries where a person already has an entry.

And just to check - in the instance where someone has an entry in capsule and signs up using the SAME email this w

[2015-05-21 14:51] dicknorris opened #629 "Create proof of concept for the Global Membership Network Directory"
The objective is to merge our existing membership directory with the data we have on our startups, nodes and registered trainers.

The proof of concept should provide list and search functionality.

The data will be published as a CSV file.

[2015-05-22 09:14] #624 closed

[2015-05-22 14:23] #623 closed

[2015-05-27 09:32] #615 closed

[2015-05-27 09:32] Floppy opened #630 "Outsourced website updates"
This is an overview ticket for the following bits of work:

* [x] Split startups page in two: #611
* [ ] Create improved server-side events page based on Phil's design: #617
* [ ] More flexible tagging for which people are in which teams: #601
* [x] Three new nodes types: #587
* [ ] Fix title editing bug: #599

[2015-05-27 09:34] #628 closed

[2015-05-27 09:41] Floppy commented on #601
As these are implemented using tags, we could change this to a more interactive tagging method rather than the tickboxes.

[2015-05-27 09:43] Floppy commented on #587
Will involve new tags, new options in the dropdown, and updated rendering code.

[2015-05-27 10:16] #619 closed

[2015-05-27 11:17] gilesdring commented on #630
Will take a look at these in more detail later today and come back to you via email.

[2015-05-27 11:43] pezholio commented on #620
The first three issues have fixes pending, and we've estimated the last two, so going to close this

[2015-05-27 11:44] #620 closed

[2015-05-27 12:31] Floppy opened #631 "Show content API data in directory app"
The directory app should load data from the Content API (and cache appropriately) data for:

* startups
* nodes
* trainers

http://github.com/theodi/member-directory will need to use the http://github.com/theodi/gds-api-adapters gem to load the data, and render it appropriately. http://github.com/theodi/frontend-www will contain code that can be cribbed to perform the appropriate queries.

[2015-05-27 12:33] Floppy opened #632 "Publish directory data as CSV"
Currently, we have a JSON view for members, but we want a CSV view for the new data.

So, we should create CSV and JSON views for

* [ ] members
* [ ] startups
* [ ] nodes
* [ ] registered trainers

[2015-05-27 12:34] Floppy opened #633 "Directory search"
The directory should be searchable. Search for nodes, startups and trainers can be provided by the existing www search API, but we will need to integrate members into the results as well from the local directory database.

[2015-05-27 12:37] Floppy commented on #629
@dicknorris I split out the MVP work as we discussed; see the updated description above.

[2015-05-28 10:31] ayymanduh commented on #616
@pezholio :)

* [ ] Change the website's landing page from static text to 'ODI boxes'
* [ ] Re-order the reports (chronological order)
* [ ] Minor SEO tweak on site to catch other spellings, e.g. dapas, dapass, dappass etc in the meta tags
* [ ] Split out the 'reports' page (currently under 'whats DaPaaS') into a new page
* [ ] Check if google analytics are set up
* [ ] Change the structure of the

[2015-05-28 10:47] pezholio commented on #612
So, while we're still struggling along with Varnish being enabled, this one-liner will DEFINITELY purge the Varnish cache:

[code]

[2015-05-28 10:54] pezholio commented on #616
@ayymanduh I get what you mean in point 1, but what sorts of content do you want in the boxes?

[2015-05-28 11:02] ayymanduh commented on #616
@pezholio I'm not sure how this works, but we'd want it to be able to pull through the latest blogs, the 'what's dapaas?' page, the FAQ page, a link to the datagraft platform (live in July-ish), a box for our most recent event, etc.  The backgrounds could be the colours in Adrian's DaPaaS brand toolkit and we will add in images later.

[2015-05-29 08:43] Floppy commented on #612
Problem found - we can work around nginx and varnish and disable expiry headers in the app, and we're golden.

Plan:

* [ ] Disable chef on node 2
* [ ] Change the application code to add our ghettofix from last night
* [ ] Re-enable chef on 1 and 3
* [ ] Put them into the pool and remove 2
* [ ] Bake for a few hours
* [ ] Move redirects into app/cloudflare that were handled by nginx
* [ ] check t

[2015-05-29 10:09] pezholio commented on #616
@ayymanduh Done a bit of background reading on SEO (ugh), and I don't think Google index meta keywords anymore, so point 3 might be a bit moot. Happy to do it though, as it's a two second job, but just so you're aware, it might not have the effect you want :smile:

[2015-06-04 10:45] #612 closed

[2015-06-04 10:49] #464 closed

[2015-06-04 13:33] Floppy opened #634 "Transifex support for Open Data Certificates"
https://github.com/theodi/open-data-certificate/issues/1151

[2015-06-04 13:39] #217 closed

[2015-06-04 13:40] #288 closed

[2015-06-04 13:43] #371 closed

[2015-06-04 13:44] #276 closed

[2015-06-04 13:44] #138 closed

[2015-06-04 13:49] Floppy opened #635 "Questionnaire flowchart from XML"
# Problem

At the moment, the Open Data Certificate questionnaire can be accessed in two ways:
* XML (e.g. the combination of [english translation](https://github.com/theodi/open-data-certificate/blob/staging/prototype/translations/certificate.en.xml) and [UK jurisdiction](https://github.com/theodi/open-data-certificate/blob/staging/prototype/jurisdictions/certificate.GB.xml))
* By taking the asse

[2015-06-04 13:50] Floppy opened #636 "ODC performance improvement plan"
Surveyor is becoming a liability - let's make it all better! YAY!

[2015-06-04 13:52] Floppy opened #637 "Improve portal crawler tool"
@pkqk can you link the ODC tickets?

[2015-06-04 13:53] Floppy opened #638 "Change to unicorn"
thin is terrible

[2015-06-04 13:56] #49 closed

[2015-06-04 13:57] #63 closed

[2015-06-04 13:59] #303 closed

[2015-06-04 14:04] dicknorris opened #639 "Sort out how people across the ODI submit requests to the development team"

[2015-06-04 14:05] Floppy commented on #282
@pkqk is this one sorted now, or are we still waiting?

[2015-06-05 09:51] pkqk commented on #282
Questions have `Sì` and `No` as answers and the two `IODL` licences are options so I think so.

[2015-06-05 09:51] #282 closed

[2015-06-05 09:57] pkqk commented on #637
Smaller tasks:
  - [ ] theodi/open-data-certificate#1140 reattempt a certificate generation if it fails.
  - [ ] theodi/open-data-certificate#1119 a more detailed report on a certification campaign

Larger tasks:
  - [ ] theodi/open-data-certificate#1036 make certification campaigns rerunnable
  - [ ] I also have designs in my head for how to make it so this doesn't need to be run by a dev and can

[2015-06-05 10:11] pkqk commented on #638
theodi/open-data-certificate#1033

It's currently possible for a few long running queries (which are very easy to trigger in certificates at the moment :cry:) to stop all the servers responding.

It might be worth trying
  - `config.threadsafe!` (I'm not sure if you need to remove `Rack::Lock` from the middleware in that case)
  - `unicorn` - though this appears to be designed for fast connections

[2015-06-05 10:23] pkqk commented on #636
The `Surveyor` gem is both not currently being maintained and the data model does not support the size of the questionnaires we are using it for very well.

The gem is written using very simple ActiveRecord relations which regularly create severe n+1 query issues.

Since the app is so heavily dependent on how Surveyor operates I don't think rewriting it directly is a good solution.

We could howev

[2015-06-08 11:20] langphil commented on #630
Any updates on this?

[2015-06-08 13:15] #625 closed

[2015-06-08 13:16] #627 closed

[2015-06-08 13:20] pkqk opened #640 "Build ODC staging and feature infrastructure"
Using new test-kitchen infrastructure (#622) build staging environment.

Also useful would be the ability to bring up an environment to run a particular feature branch

[2015-06-08 13:24] JeniT commented on #520
Find out what's running on which Linodes & see if we can switch some off.

[2015-06-08 13:39] JeniT opened #641 "Provide for invoicing of new members"
See theodi/member-directory#413

[2015-06-08 13:40] pezholio opened #642 "Reattempt a certificate generation if it fails"
Part of #637

See https://github.com/theodi/open-data-certificate/issues/1140

[2015-06-08 13:42] pezholio opened #643 "A more detailed report on a certification campaign"
Part of #637

See https://github.com/theodi/open-data-certificate/issues/1119

[2015-06-08 13:55] pezholio opened #644 "Change the Dapaas website landing page to 'ODI boxes'"
See #616

[2015-06-08 13:56] pezholio opened #645 "Fix broken report uploads"
See #616. Seems to be a flickering state. Sometimes works, sometimes doesn't.

[2015-06-08 13:58] pezholio commented on #616
I've opened new tickets for the two remaining jobs (#644 and #645), so am going to close this.

[2015-06-08 13:58] #616 closed

[2015-06-08 14:49] pikesley commented on #520
Unless I've missed something, there are only 2 running now. One of them is the Chef server and needs to remain.

[2015-06-08 15:07] pikesley commented on #520
On the other one, it's running MySQL but I'm pretty certain it's not in use:

    mysql> show databases;
    +-----------------------------+
    | Database                    |
    +-----------------------------+
    | information_schema          |
    | member_directory_production |
    | mysql                       |
    | odi_drupal                  |
    | performance_schema          |
    | t

[2015-06-09 09:46] pikesley commented on #520
Redis is also here. It's running the services-manager queue. The machines that are connecting to it are:

    backend-quirkafleeg-01
    backend-quirkafleeg-02
    backend-quirkafleeg-03
    directory-01
    directory-02
    services-manager-01

So for now, this is Critical Infrastructure. These could be migrated to somewhere else, though.

[2015-06-09 09:59] pikesley commented on #520
Further investigation suggests that the only thing we care about on here is Redis. Once we've moved that elsewhere, we can shut this box off.

[2015-06-09 10:03] pikesley opened #646 "Decommission Redis Linode"
We'll need to move the Redis elsewhere (redis2go?), migrate the [clients](https://github.com/theodi/shared/issues/520#issuecomment-110296845), and switch it off

[2015-06-09 10:04] #520 closed

[2015-06-09 15:06] gilesdring commented on #611
OK - this causes a potential issue in the url mapping.

At the moment `/start-ups/current` would pull up the startup called _current_. Similarly for `/start-ups/graduated`.

Options:

1. load the routes first, so Current and Graduated become special - issue if anyone ever creates a startup called current or graduated!
2. use an extra dashed url `/start-ups-current` and `/start-ups-graduated`, whic

[2015-06-09 15:25] langphil commented on #611
If we were to go for the first option, how would startups who have graduated or are current have their URL’s generated?

Would it be;

theodi.org/startups/current/startups-name
theodi.org/startups/graduated/startups-name

cc @statshero

-- 
Phil Lang - Digital Production Editor
@ODIHQ | thodi.org
@langphil | 0741 44 63047

On 9 June 2015 at 16:06:49, Giles Dring (notifications@github.com) wrote:

[2015-06-09 15:45] JeniT commented on #611
Once a startup has a page, we don't want to change their URL: you shouldn't have URLs for individual startups that have a changeable status component within them. I'd suggest:

/startups/startups-name - consistent URL for the startup
/graduated-startups - list of graduated startups
/startups - list of current startups

[2015-06-09 18:10] gilesdring commented on #611
The `/start-ups` page has been simplified to remove the current lists. How about:

`/start-ups` - general information
`/start-ups/name` - consistent URL for the startup
`/current-start-ups` - list of current startups
`/graduated-start-ups` - list of graduated startups

Need also to define navigation between the various pages. Will discuss with Phil tomorrow.

[2015-06-10 11:37] langphil opened #647 "SEO / Metadata implementation"
**User story:**

1) As a producer I would like to enter relevant metadata into Publisher during the publishing process.
2) As a producer I would like this metadata to integrate nicely with the following: Facebook Open Graph, Twitter Cards, Google, anything else of relevance (discuss).
3) Implement [Google Tag Manager](http://www.google.com/tagmanager/) < let's chat about this.

[2015-06-10 11:38] langphil commented on #630
Adding additional tasks (wishlist) **UPDATING**

*[] SEO / Metadata implementation #647

[2015-06-10 11:44] langphil opened #648 "Remove archived items"
**Issue**:

When an item is archived in publisher, it is still generated on the website. See [upcoming events](http://theodi.org/events)

[2015-06-10 11:55] langphil opened #649 "Third level navigation implementation"
**User story 1:**

* As a producer I would like to structure content in the navigation bar in a way that sub sections can be accessed via a third level navigation structure in the head navigation bar.
* I would like to structure this navigation via a WYSIWYG interface in the Publisher / Panopticon process.
* Failing this I'd like to structure this navigation via an existing YAML file (this is the

[2015-06-10 12:01] langphil opened #650 "Homepage: embedding of video content (iframe)"
**User story:**

* As a publisher I would like to surface video content in modules on theodi.org homepage.
* As a publisher I would like to as part of the Panopticon editing process of for the homepage had the ability to add iframes for both Vimeo and Youtube, that would then generate in module spaces on the homepage.

[2015-06-10 12:04] langphil opened #651 "ODI Homepage: image carousel"
**User story:**

* As a publisher I would like to surface multiple pieces of content in the hero image space on theodi.org homepage.
* I would like to have a changeable hero image space that alternates between different images / links.
* I would like to be able to set this to alternate after a set period of time, or to sit statically.
* I would like to be able to control this functionality via Pan

[2015-06-10 12:09] langphil commented on #601
@gilesdring When you get to this, it'd be good to know if there is scope for a publisher to generate and remove teams on the fly via the panopticon process. If not, I will supply the names of teams that we need added / removed.

[2015-06-10 12:46] langphil opened #652 "Move courses page to server side"
Currently theodi.org/courses is being generated using JQuery.

I'd like to move this to a server side process.

[2015-06-10 12:49] langphil commented on #617
Let me know if this is what you needed for this.

https://github.com/langphil/odievents-gh-pages

@gilesdring

[2015-06-10 13:52] gilesdring commented on #587
Have added in new [publisher code](https://github.com/theodi/publisher/tree/fix/shared-587) which renders as follows:

![image](https://cloud.githubusercontent.com/assets/1731108/8083983/2f2d514a-0f80-11e5-82e7-49f7cec2f4b6.png)

Underlying values are `network`, `learning`, `network_learning`, which are used as class names when rendering views. Other values remain the same.

[2015-06-10 14:00] langphil opened #653 "Bypassing the 2nd pair of eyes process on "new editions" of artefacts"
**User story:**

1) As a writer / publisher for theodi.org I would like to have the ability to make swift edits to content on already published on theodi.org, without having to send the item for a 2nd pair of eyes edit. I would like to bypass this process, to create new editions, edit them and publish them as a single user.

[2015-06-10 15:32] Floppy commented on #621
Moved this to testing; I need to assess the state of play and work out how far we got.

[2015-06-10 16:30] Floppy commented on #611
Looks to me like http://theodi.org/current-start-ups and http://theodi.org/graduated-start-ups are working. Hurrah! Also http://theodi.org/start-ups is now not showing the list, as expected. Presumably we just need @langphil to define the navigation to the list pages now?

[2015-06-10 17:02] langphil commented on #611
I’ve added the related links in on /start-ups. 

These have been added as external related items.

**Question**

In panopticon, for related artefact (not external related items), will these two new pages appear in the dropdown of pages for association. 

I’d prefer to have them as related artefacts, over external related items. 

Thanks

-- 
Phil Lang - Digital Production Editor
@ODIHQ | thodi.org

[2015-06-11 08:05] Floppy commented on #611
As those pages aren't artefacts in the CMS as such, they wouldn't appear in that list. We could *make* artefacts for them, like we have for /start-ups. That would mean you could also edit intro text if you wanted any.

[2015-06-11 08:29] langphil commented on #611
That would be very useful. 

How difficult is this process. It’d be good to know how this is achieved. 

-- 
Phil Lang - Digital Production Editor
@ODIHQ | thodi.org
@langphil | 0741 44 63047

On 11 June 2015 at 09:05:19, James Smith (notifications@github.com) wrote:

As those pages aren't artefacts in the CMS as such, they wouldn't appear in that list. We could make artefacts for them, like we ha

[2015-06-11 08:30] Floppy commented on #611
I think if you create the pages with the right stubs in publisher, then we can easily copy the code from the old page to pull in the new content. Let us know when they're there; shouldn't take a minute.

[2015-06-11 08:37] langphil commented on #611
They’ve been added in publisher, with the relevant stubs.

-- 
Phil Lang - Digital Production Editor
@ODIHQ | thodi.org
@langphil | 0741 44 63047

On 11 June 2015 at 09:30:48, James Smith (notifications@github.com) wrote:

I think if you create the pages with the right stubs in publisher, then we can easily copy the code from the old page to pull in the new content. Let us know when they're there;

[2015-06-11 08:45] Floppy commented on #611
@gilesdring reckon you can copy the artefact code from the startups action to the new ones to display these in the new pages?

[2015-06-11 08:46] gilesdring commented on #587
Need to validate that the class is being added correctly: may need some guidance on setting up a test user on my local machine who can publish events, so they appear in the listing.

[2015-06-11 09:29] pezholio commented on #644
The code for this is done now. Just waiting for @ayymanduh to get back off hols, so I can take her through the process of actually adding the boxes

[2015-06-11 09:51] gilesdring commented on #617
Hi @langphil - thanks for that... Just need to confirm the requirement for this. Is it to be

1. a separate page to `/events`, although showing the same content (i.e. upcoming events of all types)
2. a separate page to `/events`, showing different content (i.e. courses only)
3. a replacement for `/events`

If it's a separate page, what's the best slug to give it: `/courses`? `/upcoming-events`?

[2015-06-11 09:59] langphil commented on #617
Hi,

I’d like the following

1) I’d like to replace /events with a page that just lists upcoming events (not courses), meetups, lunchtime lectures, networking events, etc…

2) Each event module to show date, time, location, title of event, a booking link (goes to event page)

3) An aside bar to be present for related links

Happy to discuss this if you need more direction

-- 
Phil Lang - Digital

[2015-06-11 10:12] gilesdring commented on #617
OK - wondering if there is a role for the "everything" page. At the moment, `/events` is the 'What's happening' top-level menu page. I could forsee adding `/events` as a sub of that, but renaming `/events` as `/whats-happening` or something. At the moment the `/events` page shows any upcoming events tagged `event` or `course_instance`.

[2015-06-11 10:33] langphil commented on #617
If we could lose the course instance, that would be great. 

There is a separate issue / job in to do similar work on the upcoming courses page /courses. It needs to be moved server side. 

-- 
Phil Lang - Digital Production Editor
@ODIHQ | thodi.org
@langphil | 0741 44 63047

On 11 June 2015 at 11:12:29, Giles Dring (notifications@github.com) wrote:

OK - wondering if there is a role for the "eve

[2015-06-11 10:37] #641 closed

[2015-06-11 14:32] gilesdring commented on #611
Should be able to do this. Will put it on list for next week, unless I get the events stuff done rapidly.

[2015-06-11 16:36] gilesdring commented on #617
https://github.com/theodi/frontend-www/pull/384 raised to integrate changes.

Looks like this -->
![image](https://cloud.githubusercontent.com/assets/1731108/8112546/3d51faba-1060-11e5-98b3-518a30fdd715.png)

The content at the top and related elements come from the 'events' article.
The location is a `<p class="location">`, the Register is an `<a class="booking-url">`

[2015-06-15 08:04] langphil opened #654 "Cache issues on /news /lunchtime-lectures & the homepage"
Hi,

Just putting in an issue for caching issues on the website. Blog posts / news haven't updated since June 1.

cc @Floppy @pezholio

[2015-06-15 08:10] langphil commented on #611
Hi,

Just to update.

I've added a few new startups into the system this morning.

They've been marked as current startups.

They have so far failed to generate on the website here - [http://theodi.org/current-start-ups](http://theodi.org/current-start-ups)

Just flagging it. I"ll keep an eye on it.

Any thoughts?

[2015-06-15 08:27] pezholio commented on #654
Have there been any published since then? The Content API isn't returning any different from the frontend, so if you're expecting to see anything else, the issue isn't caching.

[2015-06-15 08:29] langphil commented on #654
Here is the main culprit - www.theodi.org/blog/invitation-to-tender-report-brief-generation-open

I’m about to publish a new Lunchtime Lecture also, so I’ll test with that. 

-- 
Phil Lang - Digital Production Editor
@ODIHQ | thodi.org
@langphil | 0741 44 63047

On 15 June 2015 at 09:27:34, pezholio (notifications@github.com) wrote:

Have there been any published since then? The Content API isn't

[2015-06-15 08:32] pezholio commented on #654
That one shows up on /news - Published date is 20th May

[2015-06-15 08:32] langphil commented on #654
Ah!!

Now I feel silly. 

Apologies.

-- 
Phil Lang - Digital Production Editor
@ODIHQ | thodi.org
@langphil | 0741 44 63047

On 15 June 2015 at 09:32:08, pezholio (notifications@github.com) wrote:

That one shows up on /news - Published date is 20th May

—
Reply to this email directly or view it on GitHub.

[2015-06-15 08:33] langphil commented on #654
Will publish a lunchtime lecture now to test. 

-- 
Phil Lang - Digital Production Editor
@ODIHQ | thodi.org
@langphil | 0741 44 63047

On 15 June 2015 at 09:32:49, Phil (phil.lang@theodi.org) wrote:

Ah!!

Now I feel silly. 

Apologies.

-- 
Phil Lang - Digital Production Editor
@ODIHQ | thodi.org
@langphil | 0741 44 63047

On 15 June 2015 at 09:32:08, pezholio (notifications@github.com) wrote:

[2015-06-15 09:19] langphil commented on #654
Hi, 

I’ve published a lecture > http://theodi.org/lunchtime-lectures/friday-lunchtime-lecture-open-data-powered-solutions-helping-people-get-better-jobs

It’s not generating on the page /lunchtime-lectures

-- 
Phil Lang - Digital Production Editor
@ODIHQ | thodi.org
@langphil | 0741 44 63047

On 15 June 2015 at 09:33:21, Phil (phil.lang@theodi.org) wrote:

Will publish a lunchtime lecture now to

[2015-06-15 11:08] pezholio commented on #654
Yep. There seems to be some sort of OTHER weird caching layer (or something) in Content API. I can't even.

[2015-06-15 11:12] Floppy commented on #654
Yeesh. At least we know it less space to hide in now. Content API *shouldn't* be caching, but then... who can say. The old data is appearing in the API responses from content API in a separate browser, so it's definitely on that side?

[2015-06-15 11:13] langphil commented on #654
There are similar issues happening with http://theodi.org/current-start-ups  to which I published 7 items to today. Could be related to the recent work that was done on these pages?

-- 
Phil Lang - Digital Production Editor
@ODIHQ | thodi.org
@langphil | 0741 44 63047

On 15 June 2015 at 12:12:21, James Smith (notifications@github.com) wrote:

Yeesh. At least we know it less space to hide in now.

[2015-06-15 11:14] Floppy commented on #654
Content API still has Rack::Cache in it, and does set expiry times, so it might be misbehaving in a similar way. Perhaps we can remove it from the middleware stack and see if that helps, as it did with frontend-www.

[2015-06-15 11:44] pezholio commented on #654
I've rebooted and all seems to be well. I don't think we can fully relieve ourselves of Rack::Cache, as it's a dependency of `actionpack`, but we can certainly remove all the expires settings on the app, which should negate the problem.

[2015-06-15 12:06] Floppy commented on #654
You can't bin it from the Gemfile, but you can remove it from the middleware stack - then you can keep the expiry headers to manage client-side caching. That's what we did on frontend-www.

[2015-06-15 13:39] gilesdring commented on #601
Have reused interactive keyword tagging approach to this, which means that arbitrary teams can be added.

![image](https://cloud.githubusercontent.com/assets/1731108/8161071/36b39ccc-136c-11e5-9888-c0beb1170e7f.png)

This doesn't quite get to the heart of the issue, as these are not backed with 'formal' tag types, and there is no easy way for these to be created without coding (I don't think...).

[2015-06-15 14:10] langphil commented on #601
Thanks for the update, let me know how discussions go.

-- 
Phil Lang - Digital Production Editor
@ODIHQ | thodi.org
@langphil | 0741 44 63047

On 15 June 2015 at 14:39:06, Giles Dring (notifications@github.com) wrote:

Have reused interactive keyword tagging approach to this, which means that arbitrary teams can be added.

This doesn't quite get to the heart of the issue, as these are not backed

[2015-06-15 14:11] Floppy commented on #601
I think it will be best to create a manual interface for managing those tags somewhere. Keyword tags are created on demand when added in the editor, but in this case I think it will be better to be a little more controlled about it.

[2015-06-15 14:11] Floppy commented on #601
We could 'manually' create them in a database migration for now. That at least makes them fairly easy to maintain, and adding more wouldn't be too hard. I don't expect it to change that often.

[2015-06-15 14:13] Floppy commented on #601
I'm not sure if adding them to https://github.com/theodi/panopticon/blob/master/db/seeds/tags.rb would *just work* or not. That would be good enough, probably, if it did.

[2015-06-15 14:16] gilesdring commented on #601
Was just looking at that.

@langphil, could you provide a list of the valid teams for me to add into the migration tasks. We'll come back to you with the potentially more strategic direction. Concern is that it's a reasonably major reengineering, and could delay current implementation.

@floppy: I'm looking at the jQuery options for tagsManager. There's a validator callback, and an option to limit

[2015-06-15 14:45] langphil commented on #601
Hi, 

I’ll get a list across to you this afternoon.

-- 
Phil Lang - Digital Production Editor
@ODIHQ | thodi.org
@langphil | 0741 44 63047

On 15 June 2015 at 15:16:38, Giles Dring (notifications@github.com) wrote:

Was just looking at that.

@langphil, could you provide a list of the valid teams for me to add into the migration tasks. We'll come back to you with the potentially more strategic di

[2015-06-15 14:45] Floppy commented on #601
Nice one. If it does look like if things in tags.rb are added automatically, that's the sort of thing that @langphil could do without too much trouble when he needed to, so I suspect that would be OK for now.

[2015-06-15 19:55] gilesdring commented on #601
The tags.rb file is processed when a `rake db:seed` task is run.

[2015-06-16 08:28] Floppy commented on #601
Ah, OK, that seems sensible. It's non-destructive though, is that right, so we can re-run whenever?

[2015-06-16 09:17] gilesdring commented on #601
I think so. Will check. I think it attempts to delete some older stuff, which I presume was a previous dead end.

[2015-06-16 13:42] langphil opened #655 "Nodes websites blog posts - RSS integration into theodi.org"
User need:

We have series on ODI Node website, such as [Leeds](leeds@theodi.org)
These are all part of a Wordpress multisite install. Each website will be generating blog content.
We need a way where we can pull in RSS feeds for each blog to generate on http://theodi.org/nodes/news

[2015-06-16 15:20] Floppy commented on #587
@langphil can you assess whether this is working as expected?

[2015-06-16 15:21] Floppy commented on #611
@langphil can you assess whether this is working as expected, for the basic lists as originally specified?

[2015-06-16 15:21] Floppy commented on #617
@langphil can you assess whether this is working as expected?

[2015-06-16 15:22] langphil commented on #587
Assessing now. 

-- 
Phil Lang - Digital Production Editor
@ODIHQ | thodi.org
@langphil | 0741 44 63047

On 16 June 2015 at 16:20:59, James Smith (notifications@github.com) wrote:

@langphil can you assess whether this is working as expected?

—
Reply to this email directly or view it on GitHub.

[2015-06-16 15:22] langphil commented on #611
Assessing now.

-- 
Phil Lang - Digital Production Editor
@ODIHQ | thodi.org
@langphil | 0741 44 63047

On 16 June 2015 at 16:21:30, James Smith (notifications@github.com) wrote:

@langphil can you assess whether this is working as expected, for the basic lists as originally specified?

—
Reply to this email directly or view it on GitHub.

[2015-06-16 15:27] langphil commented on #611
The only change to this that I would make is in relation to the related items.

Adding external links in Panopticon as external related items is fine.

When I attempt to add related artefacts, the modules on the page are generated as link to the blog, listing, date of publication, author, type.

This has happened on other occasions with different pages.

Besides this one issue, everything else is

[2015-06-16 15:37] Floppy commented on #611
strange. That sounds like a separate issue (if it's happened before), can you open a new ticket and add a screenshot?

[2015-06-16 15:37] #611 closed

[2015-06-16 16:47] langphil commented on #617
This is working as expected, the CSS does need styling. Can I discuss best way for me to do this. Thanks.

I'll also need to see the live page to ensure that related artefacts are generating correctly.

[2015-06-16 16:51] langphil commented on #587
This all looks correct to me.

[2015-06-16 16:52] #587 closed

[2015-06-16 16:52] Floppy commented on #617
OK, let's have a quick chat in the morning about it.

[2015-06-16 16:53] langphil commented on #617
Great, thanks James.

[2015-06-17 11:32] Floppy commented on #641
This looks like it's still in progress, but is marked as done here. Is there still stuff to do? This is the only membership work in the current sprint, so if there's anything outstanding this should still be open. @pezholio @greenreveller can you update the current state here as you see it?

[2015-06-17 11:48] greenreveller commented on #641
There is a related ticket #418 re automating membership/Summit ticket sales. I believed that this was also in this sprint as Stuart, Alison and I met early last week to discuss how to proceed with how summit ticket sales were going to work with the member directory. All detail is in the ticket. We need to know whether we can use a CSV exported from Eventbrite to create a script which will automati

[2015-06-17 11:49] Floppy commented on #641
Assuming that's referring to theodi/member-directory#418

[2015-06-17 11:50] Floppy commented on #641
That wasn't linked to this ticket and I don't see it linked elsewhere from sprint planning. @pezholio, was it included in the plan?

[2015-06-17 12:10] pezholio commented on #641
No, the automation wasn't planned for. Was hoping to get it in for next sprint.

[2015-06-17 12:23] pikesley commented on #614
It failed again, I'm tired of doing this wrong, can somebody else have a go please? https://www.gandi.net/admin/orders

[2015-06-17 12:46] pezholio commented on #614
I'll have a crack

[2015-06-17 12:48] pezholio commented on #614
Right, it says that the maximum number of days waiting for the owner to respond had elapsed, so I don't think you've done anything wrong. Do we need to hit them up again? I've relaunched the transfer again anyway.

[2015-06-17 12:48] pezholio commented on #614
Who is the owner anyway? Is it Nigel?

[2015-06-17 12:55] pikesley commented on #614
No, it's the Canadians. I think. @Floppy ?

[2015-06-17 12:56] pezholio commented on #614
Hang on, yeah you're right. The DomainMonster thing threw me.

[2015-06-17 13:50] greenreveller commented on #641
Ah ok - can we prioritise for the next sprint? We need to get this process agreed before we can launch summit ticket. Apologies if I got the wrong end of the stick on what was being covered this sprint and not. Could you share me the link with huboard (spelling?) so I can keep up to speed with what's in the sprint plan?

[2015-06-17 15:04] Floppy commented on #641
Here you go: https://huboard.com/theodi/shared#/

[2015-06-17 15:05] Floppy commented on #641
What's the deadline for summit ticket launch @greenreveller? Apologies for any confusion from our end as well.

[2015-06-17 15:32] Floppy opened #656 "Sell membership with summit tickets"
See https://github.com/theodi/member-directory/issues/418

Added to planning board for sprint 49. /cc @greenreveller

[2015-06-17 15:35] Floppy commented on #614
which domains are we talking about here? I was just thinking of the ones on Nigel's 123-reg account.

[2015-06-17 17:00] greenreveller commented on #641
Thanks both. Deadline = beginning of week 29 June (nb offsite next week)

Andrea

Andrea Cox
Membership Manager
@greenreveller <https://twitter.com/greenreveller> @ODIHQmembers
<https://twitter.com/ODIHQmembers>

The Open Data Institute <http://www.theodi.org/>
Tel +44 (0) 7855 456 002

On 17 June 2015 at 16:05, James Smith <notifications@github.com> wrote:

[2015-06-18 12:06] langphil opened #657 "Upcoming sprint "Chat with Phil""
@floppy as discussed, it'd be good to run through the "ideas" that I have for developing the CMS and the website.

I won't have time to segment the current issues into coherent user stories today. I'll make best efforts to do this by week's end.

[2015-06-19 11:02] Floppy commented on #617
So this is live at http://theodi.org/events already. Looks like we still need to:

* [ ] apply the CSS changes so we get an event list rather than the blocks.
* [ ] enable the related items in the sidebar.

[2015-06-19 11:05] Floppy commented on #601
@langphil this is basically done, but we need to define the new teams. The current method would be to add them in the code just like this: https://github.com/theodi/panopticon/blob/master/db/seeds/tags.rb#L79.

As it's not going to happen often, we think this is probably sufficient (for now at least). Do you want to submit a PR to that file with the new team tags you'd like to have, or would you r

[2015-06-19 14:27] #630 closed

[2015-06-19 15:17] gilesdring commented on #617
Think related items are ready to go, just no content to show at the moment. Needs an article called _events_ to be created.

[2015-06-19 15:21] gilesdring commented on #601
Yes. Changes are pending in the https://github.com/theodi/panopticon/tree/fix/shared-601 branch. Will create a PR for this, if required and separate the team creation into a separate PR

[2015-06-22 08:11] Floppy commented on #617
Ah, great. @langphil , can you create an article called "events" and see if the right content gets pulled in?

[2015-06-22 09:18] langphil commented on #617
I’ll create this now.

-- 
Phil Lang - Digital Production Editor
@ODIHQ | thodi.org
@langphil | 0741 44 63047

On 22 June 2015 at 09:11:04, James Smith (notifications@github.com) wrote:

Ah, great. @langphil , can you create an article called "events" and see if the right content gets pulled in?

—
Reply to this email directly or view it on GitHub.

[2015-06-22 11:21] langphil commented on #617
I've created /events, but I am only getting this > theodi.org/events

[2015-06-22 11:56] Floppy commented on #617
Hm, that's not right.

[2015-06-22 12:00] langphil commented on #617
Something odd going on. The page was working for a bit, now it just "not found".

[2015-06-22 12:09] gilesdring commented on #617
I noticed the not found issue. Here's a grab from /events in my local Publisher and Panopticon. It's possible that my /events page is not set up correctly, so the prod version has unmasked an issue.

Publisher -> [Editing Events | Publisher.pdf](https://github.com/theodi/shared/files/187/Editing.Events.Publisher.pdf)

Panopticon -> [Edit - Events | ODI Panopticon.pdf](https://github.com/theodi/sha

[2015-06-22 13:10] #644 closed

[2015-06-22 13:12] #599 closed

[2015-06-22 13:14] pezholio opened #658 "Make Certification campaigns rerunnable"
See https://github.com/theodi/open-data-certificate/issues/1036

[2015-06-22 13:14] #637 closed

[2015-06-22 13:48] Floppy opened #659 "ODC design changes"

[2015-06-22 13:49] Floppy opened #660 "Plan CKAN plugin"

[2015-06-23 08:52] pikesley opened #661 "Fix up DNS for odi.tv"
Point it at the new dashboards thing for now

[2015-06-23 09:28] pikesley commented on #661
It's in Cloudflare

    ➔ host www.odi.tv
    www.odi.tv is an alias for odi.mattjarvis.co.uk.
    odi.mattjarvis.co.uk has address 178.62.117.205

HOWEVER it's not going to work unless Matt adds a VirtualHost for this, @agentGav

[2015-06-29 08:42] pikesley opened #662 "Set up Ben C's laptop"
Things we will need to do:

- [x] Install Xcode
- [x] Configure rbenv
- [x] Set up SSH keys (for Github)

[2015-06-29 08:43] Floppy commented on #662
Also notes for possible boxen:
* [ ] Install slack client
* [ ] Install Atom?

[2015-06-29 10:36] langphil commented on #617
Hey, just looking to move this forward, I'm now getting a not found for the What's happening column in theodi.org nav. What's the best way to move this forward and allow me style the CSS on the page?

[2015-06-29 12:28] Floppy commented on #617
Just looking into why it's 404ing. http://contentapi.theodi.org/events.json works OK...

[2015-06-29 16:31] langphil commented on #601
Where are we with this?

[2015-06-30 08:42] Floppy commented on #662
* [ ] IRC client?

[2015-06-30 09:24] Floppy commented on #629
This will now be famed out with a larger bit of contract work, so moving temporarily to the backlog.

[2015-06-30 12:47] gilesdring commented on #617
FWIW, one of the related items is not available. http://contentapi.theodi.org/dapaas-about.json returns a 404. I suspect the code isn't handling this.

[2015-06-30 12:49] Floppy commented on #617
Aha, that could be it - I didn't finish my investigations. Phil, can you remove that related item and see if it springs to life?

[2015-06-30 12:52] gilesdring commented on #617
If it is the case, there should probably be some error handling included to reject related items that aren't available...

[2015-06-30 13:36] pezholio commented on #656
The plumbing is in place for this, just waiting for confirmation from @greenreveller about what the membership tickets will be called

[2015-06-30 13:37] pezholio commented on #656
PR is here for reference because Huboard doesn't show related PRs https://github.com/theodi/open-orgn-services/pull/439

[2015-06-30 13:57] greenreveller commented on #656
Hi @pezholio, @langphil has added the ticket types to Eventbrite page.
I've pasted the categories and ticket names in this doc: https://docs.google.com/document/d/1k19Cavfabq6cZZDrh6iB7vJsPJT487qe4ZbYn2Coh6Q/edit

Is that what you need?

If you need to login to Eventbrite: https://www.eventbrite.co.uk/myevents/?internal_ref=login
Login details: events@theodi.org PW: openevents2012

[2015-06-30 13:58] Floppy commented on #656
yoink

[2015-06-30 14:02] pezholio commented on #656
^ Is that a "I'll take this from here" type yoink?

[2015-06-30 14:03] greenreveller commented on #656
Hi Stuart, Keren is just going to double check the categories so if you can hold off for 20 mins or so I will let you know when we get the final green light

[2015-06-30 14:03] pezholio commented on #656
Cool, no worries

[2015-06-30 15:05] greenreveller commented on #656
Heya, doc now updated. Tickets with membership are highlighted in yellow. Cheers

[2015-06-30 15:06] greenreveller commented on #656
also... high baby alert!!! eeeeeeeeee :)

[2015-06-30 17:28] gilesdring commented on #617
That code should either go here...

https://github.com/theodi/frontend-www/blob/master/lib/artefact_retriever.rb#L20

...or here...

https://github.com/theodi/frontend-www/blob/master/app/views/content/_related.erb#L5-L8

[2015-07-01 09:11] pezholio commented on #656
:baby: :baby_bottle:

[2015-07-01 09:15] pezholio commented on #656
@greenreveller Am I right in thinking that the SME and corporate packages come with supporter membership included?

[2015-07-01 09:15] pezholio commented on #656
And the individual supporter packages come with individual membership, natch

[2015-07-01 09:27] greenreveller commented on #656
Thanks Stuart - meant to say that the packages highlighted in yellow in the
doc are the ones which are summit + membership (so 3 out of the 6 packages)
https://docs.google.com/document/d/1k19Cavfabq6cZZDrh6iB7vJsPJT487qe4ZbYn2Coh6Q/edit

Andrea

Andrea Cox
Membership Manager
@greenreveller <https://twitter.com/greenreveller> @ODIHQmembers
<https://twitter.com/ODIHQmembers>

The Open Data Institute

[2015-07-03 15:58] pikesley commented on #640
Staging is built. There's an issue where it cannot send email. I can fix this with an env_builder tweak, but our whole ENV thing is a mess that needs cleaning up

[2015-07-06 16:02] langphil commented on #601
Just checking in, in advance for tomorrow. Would like to get this tied off.

[2015-07-06 16:03] langphil commented on #617
If we could put focus on completing this page as one of the first tasks tomorrow, that'd be great.

[2015-07-06 16:15] langphil opened #663 "Dev: Third level navigation"
As a website administrator I would like to structure the website navigation in a way that allows me to promote exploration / structural sense of pages on theodi.org.

1) I would like to be able to facilitate individuals in exploring content via the navigation bar
2) I would like to achieve this by developing a third level navigation structure
3) I would like the menu to be editable via a WYSIWYG i

[2015-07-06 16:31] langphil opened #664 "Dev: SEO / Metadata"
As a website admin I would like to make the content published on the website work better with Google, Open Graph and Twitter Cards.

1) I would like to have the ability to enter metadata in publisher that will facilitate better sharing of content on social media platforms.
2) I'd like to be able to capture titles, descriptions, tags and images, as relevant to Google, Open Graph and Twitter.
3)

[2015-07-06 16:32] langphil opened #665 "Dev: Page /news"

[2015-07-06 16:37] langphil opened #666 "Dev: Publisher 2nd pair of eyes"
As a skilled publisher / editor, who needs to make changes on the fly to published content, I would like the ability to bypass the second pair eyes process and make changes as an individual.

[2015-07-06 16:40] langphil opened #667 "Dev: Hero image carousel"
As a publisher on theodi.org, I would like to have the ability to feature dynamic content in the hero image space on pages.

1) I would like to promote exploration, by having these images change at a set, timed period.
2) I would like users to be able to explore by forcing the progression of these images.

[2015-07-07 05:47] Floppy commented on #662
* [ ] phantomjs

[2015-07-07 07:33] gilesdring commented on #617
Yep. Will catch up with you just after 9. We have a plausible theory for the issue (see above)

[2015-07-07 07:34] gilesdring commented on #601
Ok. Just waiting for names of teams to add.

[2015-07-07 07:42] langphil commented on #601
OK,

Could we add the following, to cover all bases. 

Culture
Environment
Strategy
Franchise
Learning
Membership
Training
Evidence
Research
Services
R&D
Production
People Dev
Finance
Business Support
Technical
Intern
Board

-- 
Phil Lang - Digital Production Editor
@ODIHQ | thodi.org
@langphil | 0741 44 63047

On 7 July 2015 at 08:34:30, Giles Dring (notifications@github.com) wrote:

Ok. Just wai

[2015-07-07 07:47] langphil commented on #617
Great, 

Let’s chat then.

-- 
Phil Lang - Digital Production Editor
@ODIHQ | thodi.org
@langphil | 0741 44 63047

On 7 July 2015 at 08:33:41, Giles Dring (notifications@github.com) wrote:

Yep. Will catch up with you just after 9. We have a plausible theory for the issue (see above)

—
Reply to this email directly or view it on GitHub.

[2015-07-07 08:15] langphil opened #668 "Search - seems to not be functioning"
Search seems to be returning internal errors whenever I try to search.

The only term that seems to successfully work from my trials is 'health'.

Is search functioning correctly?

[2015-07-07 08:15] gilesdring commented on #617
@langphil I'm about - how's best to get in touch?

[2015-07-07 08:15] Floppy commented on #668
Goddammit. Probably not. Thanks. We know why this will be happening.

[2015-07-07 08:16] Floppy commented on #617
I sent an invite to our Slack channel @gilesdring - did you get it?

[2015-07-07 08:16] langphil commented on #617
Hey Giles, 

I’ll be in the tech team scrum. Let’s go from there. 

Also, you should have a slack invite.

I’ve a channel there called ‘theodi_website'

-- 
Phil Lang - Digital Production Editor
@ODIHQ | thodi.org
@langphil | 0741 44 63047

On 7 July 2015 at 09:15:37, Giles Dring (notifications@github.com) wrote:

@langphil I'm about - how's best to get in touch?

—
Reply to this email directly or

[2015-07-07 08:19] langphil commented on #668
Thanks James.

-- 
Phil Lang - Digital Production Editor
@ODIHQ | thodi.org
@langphil | 0741 44 63047

On 7 July 2015 at 09:16:02, James Smith (notifications@github.com) wrote:

Goddammit. Probably not. Thanks. We know why this will be happening.

—
Reply to this email directly or view it on GitHub.

[2015-07-07 09:27] langphil opened #669 "Events page - Related items returns an internal error on /events"
Related items added in Panopticon returns an internal error on /events

[2015-07-07 09:29] langphil opened #670 "Dev: Sharing buttons"

[2015-07-07 12:24] gilesdring opened #671 "Meta-issue for website fixes"
Taken from comment to #630

* [ ] SEO / Metadata implementation #647
* [ ] Create and register sitemap for theodi.org #461
* [ ] Remove archived items from theodi.org #648
* [ ] Third level navigation implementation #649
* [ ] Retrospectively adding tags to existing (published) artefacts #347
* [ ] Homepage: embedding of video content (iframe) #650
* [ ] ODI Homepage: hero image carousel #651
* [

[2015-07-07 15:01] langphil opened #672 "Dev: /jobs page"
As a user I would like to explore more about theodi, to work out why I would work there.

As a user I would visit the /jobs page to explore position.

1) I would like to find relevant links in the aside of the webpage, facilitating exploration of theodi.org
2) This would be similar to the /events page work, but with two columns for current jobs.

[2015-07-07 15:07] langphil opened #673 "Dev: Twitter modules (hashtag / users)"
As a publisher I would like to promote content from Twitter in the aside of pages.

1) As a publisher I would like to display relevant content from twitter hashtags and user accounts on selected pages on theodi.org (blogs / news / articles / pages / events).
2) As a publisher I would like to associate this content in the publisher stage of publishing an artefact.
3) As a publisher I would like thi

[2015-07-07 19:19] gilesdring commented on #601
Pull Request has been created with the updated seeds file -> https://github.com/theodi/panopticon/pull/126

[2015-07-08 08:06] Floppy commented on #601
Tweaks to that list in https://github.com/theodi/panopticon/pull/128

[2015-07-08 08:16] gilesdring commented on #601
Ta! Hope you agree the function wrapper aids readability!

[2015-07-08 11:10] Floppy commented on #601
definitely :)

[2015-07-08 13:46] langphil opened #674 "Issue: /events, bullet points being generated before each container in Firefox"
Issues: Bullet points are being generated in Firefox before each container (events box)

Firefox 39.0

![1](https://cloud.githubusercontent.com/assets/5029907/8571668/1a241926-2580-11e5-910a-9199d6c7ebb7.png)

[2015-07-08 13:46] #674 closed

[2015-07-09 10:26] #617 closed

[2015-07-09 10:30] gilesdring commented on #653
Should there be limitations on the types of changes that can be made without second pair of eyes?

[2015-07-09 10:34] langphil commented on #653
As the ability to publish is limited to three individuals at the ODI, I would say no limitations please. 

These three individuals, should be granted the ability to ‘Create new editions’, ‘Send to 2nd pair of eyes’, ‘OK for publication’ and ‘Publish’

Permissions are currently managed in the Admin tasks section of signon.theodi.org

The majority of these changes made will be;

* Title
* Descriptio

[2015-07-09 11:21] #656 closed

[2015-07-09 11:21] #661 closed

[2015-07-09 11:21] Floppy commented on #621
All done except the reach board, which I'll look at when I get time.

[2015-07-09 14:10] #601 closed

[2015-07-10 14:49] pkqk opened #675 "Research CKAN plugin"
* setup a CKAN install
* Look into how to make a basic CKAN plugin
* collate fields from standard CKAN setup and other plugins that could map the metadata to ODC answers
* expose internal data on an url endpoint so it can be discovered by ODC

Part of https://github.com/theodi/open-data-certificate/issues/1181

[2015-07-13 08:47] pikesley opened #676 "Git cookbook version-pinning"
We had some Chef convergence failures last week. To solve the immediate problem I waved a finger in the air and pinned the version for the `git` cookbook in the `quirkafleeg-preduction` environment, and it worked. This needs looking at across our other environments, I expect.

[2015-07-13 12:53] sumikasan opened #677 "Open Data Certificates: performance improvement"
https://github.com/theodi/open-data-certificate/issues/1033

[2015-07-13 13:12] pezholio opened #678 "Transfer ownership of opendatainstitute.org"

[2015-07-13 13:12] pezholio commented on #614
Superseded by #671

[2015-07-13 13:12] #614 closed

[2015-07-13 13:13] #622 closed

[2015-07-13 13:14] #659 closed

[2015-07-13 13:18] #660 closed

[2015-07-13 13:20] pikesley commented on #675
http://docs.ckan.org/en/latest/maintaining/installing/install-from-source.html might be helpful.

I can help you with this @danielgavrilov

[2015-07-13 13:32] pezholio commented on #675
@danielgavrilov - Also worth looking at this, which pulls datasets from ODCs to display a badge https://github.com/datagovuk/ckanext-certificates

[2015-07-13 13:32] quadrophobiac commented on #463
will be pairing with @bcouston from Wed morning onwards on this

[2015-07-13 13:34] pezholio commented on #675
Also, this PR seems to be going some way towards doing what we want to do https://github.com/datagovuk/ckanext-certificates/pull/4/files

[2015-07-13 14:47] pikesley opened #679 "Review Github teams and memberships"
At the moment we have an ad-hoc set of teams and far too many people with far too much access

[2015-07-14 11:14] Floppy commented on #669
This seems to be a more general issue, I've seen this on a number of related items recently. They seem to throw 404s somewhere, which then makes the entire page appear as a 404.

[2015-07-15 09:11] gilesdring commented on #669
Will look at this as matter of urgency today. If there's a clean pattern for dealing with it, will document here.

[2015-07-15 14:16] bcouston commented on #463
Updated description:
CSVLint's current functionality is that it stores uploaded files.

Originally there were two possible solutions.

1. Move file storage to a better suited file store. Possibly cloud storage such as rackspace.

2. Remove persistent storage of CSV files as they are only used for a few functions that only need a file to be stored temporarily.

After discussion with @pezholio we ha

[2015-07-15 14:33] quadrophobiac commented on #463
Potential related bug.
* run server via foreman or whatever
* upload fixtures/csvs/revalidate
* user is presented with validation screen with message "Congratulations! Your CSV is valid!" but with a 'Structural problem warning'
*If 'CR-LF' "\r\n" is selected from 'Line terminator' drop down and revalidate clicked then 1 * Structural Error is returned, however no subsequent option to revalidate is

[2015-07-15 16:02] danielgavrilov commented on #675
That PR seems to only send the URL of the dataset on create/update and let ODC do the guessing? It would probably be better if the plugin itself pre-populated some answers (?), but default CKAN fields are only: _title, description, tags, license, source, version, author, author name + email, maintainer name + email_

...which means most CKAN sites add their own custom fields, and these would be si